[2014-02-20 01:59] floppym opened #2 "winbind.c:585:4: warning: implicit declaration of function ‘mppe_set_keys’"
I get the following warnings when building with -Wall. This may be resolved by defining the MPPE macro when building this file (-DMPPE).

[code]

[2014-03-11 12:15] TrueBers opened #3 "PADT on disconnect"
Greetings!

As I noticed there is no `PADT` packet sending on termination in `PPPoE` plugin in function `PPPOEDisconnectDevice`.
There is a comment instead: `/* don't send PADT?? */`.

So, I'd like to ask about that. That's very annoying while ISP has high keepalive timeouts (in my case about 5-40 mins of hanging with message `Remote message: % Sessions limit exceeded.`) when one disconnects.

Wha

[2014-03-13 15:59] yegorich opened #4 "Add autotools/autoconf support"
This infrastructure would greatly simplify packagers work, especially for cross-compilated distributions like Buildroot, OpenWrt etc.

[2014-03-19 14:21] bminer opened #5 "ppp does not exit after LCP echo failure"
I am experiencing this problem on Debian Wheezy.

If pppd hangs up for whatever reason (for example because of an LCP echo failure), pppd does not exit, preventing wvdial from re-establishing the connection.

How can I fix this issue?

[2014-04-23 10:22] aleksander0m opened #6 "CLOCAL not re-set upon disconnection"
If no disconnection script provided and pppd being halted with SIGTERM, CLOCAL is not re-set during disconnect_tty(). This leads to some nasty race conditions during disconnection of mobile broadband modems in NetworkManager/ModemManager.

See patch at:
https://aleksander.es/patches/0001-pppd-ensure-CLOCAL-is-set-upon-disconnection.patch

Some more background....
pppd will by default unset CLOCAL

[2014-05-02 20:53] duffolonious opened #7 "Busy loop for L2TP VPN's"
I think this patch fixes the problem - exit when the file fails to open.

Otherwise it tries to open files that don't exist about a million times:
XXX XX 00:00:38 localhost pppd[29325]: Failed to open /dev/pts/1: No such file or directory

Until you restart it.

Fix:

[code]

[2014-05-26 08:48] ommos61 opened #8 "pppd reconnecting when persist is off"
I have a situation in a mobile device where we do a border-crossing and the connection is terminated and trying to be restarted when the persist flag is off in the configuration.

The thing that happens is that the ppp peer sends a TermReq and the pppd shuts down the connection, sends the TermAck, but then tries to start it up again (running the connect script, etc).  This happens when the persist

[2014-06-19 15:47] Hi-Angel opened #10 "pppd hangs up"
I am trying to make a connection between two connected serial ports on my PC(for testing purposes -- I am dunno yet how to work with the pppd, so I am just testing). But by my sorrow something surely gone wrong, so I tried to strace the pppd.This is how I did it: `sudo strace pppd -detach 10.5.57.198: /dev/ttyS4 2&> /tmp/pppd.log`. [I pasted the output to the pastebin](http://pastebin.com/UAPKLqVX

[2014-06-20 08:32] #10 closed, assigned to nobody

[2014-07-05 10:21] zaadeh opened #11 "Ctrl-C is ignored by pppd when put in a shell script"
I'm trying to connect to GPRS network through a serial port connected GSM modem.
OS is Debian 7, pppd 2.4.5.

pppd is run with `nodetach` option to make stay in terminal foreground.

When I call `/usr/sbin/pppd call <peer_name>` from the command line, it correctly receives and handles Ctrl+C from keyboard.

But when I put the exact same command in an empty shell script (with or without the shebang

[2014-07-29 09:29] sbyx opened #12 "Buffer Overflow in MSCHAPV2-Auth"
Hi,

It seems that 08ef47ca532294eb428238c831616748940e24a2 introduced a buffer overflow in MSCHAPv2.

chapms2_make_response calls ChapMS2 with an auth_response buffer of:
MS_AUTH_RESPONSE_LENGTH however ChapMS2 expects a buffer of
MS_AUTH_RESPONSE_LENGTH + 1.

Please see the original ticket at https://dev.openwrt.org/ticket/17296 for further details.

Cheers,

Steven

[2014-08-01 10:23] #12 closed, assigned to nobody

[2014-08-05 09:54] #6 closed, assigned to nobody

[2014-08-12 22:21] ghost opened #14 "pppd doesn't terminate on signal 15"
We use a daemon to restart pppd to recover when connections are not working properly. However, the recovery mechanism failed at least once, because pppd doesn't respond to SIGTERM.

We are using pppd 2.4.5 on a Multi-Tech MTCDP-G2-GP with core-cdp version 2.2.2.

Herewith a more detailed description of the recovery mechanism and some log snippets.

The recovery dameon sends the TERM signal to pppd

[2014-08-27 07:23] longwdl opened #15 "pppd ignore PADT while running as PPPoE client"
1. disable lcp-echo-interval
2. start pppd as PPPoE client
3. close the PPPoE server, PADT is sent by the server (RouterOS 5.24 is used as the server)
4. pppd does not exit

[2014-09-02 06:54] cmcqueen opened #17 "missing pppdump man page on web site"
http://ppp.samba.org/pppdump.8.html (linked to from http://ppp.samba.org/pppd.html) returns 404 not found.

[2014-09-02 07:24] cmcqueen opened #18 "ip-up sometimes called twice"
I'm using pppd with a satellite network and its dial-up servers. I find that sometimes, pppd prints the connection info twice to stdout, and calls `/etc/ppp/ip-up` twice. E.g.

[code]

`/etc/ppp/ip-up` was called twice, at 06:07:14 and 06:07:18.

Why might pppd do both the printing of address info twice, and calling `/etc/ppp/ip-up` twice? Is this considered "normal" or a bug?

[2014-09-09 15:03] pacho2 opened #19 "Add a way to query for plugin directory"
As discussed at:
https://bugs.gentoo.org/show_bug.cgi?id=519986

NetworkManager needs to get ppp plugin dir configured at build time with --with-pppd-plugin-dir=$(ppp_version). I have checked various distributions (debian, opensuse, fedora, arch...) and every one has a different workaround for this (some specify only a version, other checks for plugin dir running "ls" to know the one existing at t

[2014-09-12 15:35] sn01615 opened #20 "pppol2tp.c:50:31: fatal error: linux/if_pppol2tp.h: No such file or directory"
[root@MyServer ppp-2.4.7]#make
cd chat; make  all
make[1]: Entering directory `/root/ppp-2.4.7/chat'
make[1]: Nothing to be done for`all'.
make[1]: Leaving directory `/root/ppp-2.4.7/chat'
cd pppd/plugins; make  all
make[1]: Entering directory`/root/ppp-2.4.7/pppd/plugins'
for d in rp-pppoe pppoatm pppol2tp radius; do make -w -C $d all; done
make[2]: Entering directory `/root/ppp-2.4.7/pppd/plugin

[2014-09-16 12:05] kingiorikk opened #21 "pppd can not send PPPoE service name"
Dear Sir's:
I try to send below command, but pppd can not send pppoe service name,
so what problem for below command？
Thanks.

command:
pppd unit 100 user auto password auto nodetach holdoff 4 maxfail 0 usepeerdns lcp-echo-interval 1 lcp-echo-failure 60 plugin libpppoe.so nas10_0  defaultroute noipdefault persist mtu 1492 mru 1492 plugin rp-pppoe.so rp_pppoe_service 'service_name' debug &

debug m

[2014-09-20 10:57] safinaskar opened #23 "poff prints errors to stdout"
poff, pon and maybe other scripts print errors to stdout instead of stderr. For example, I see the following in poff:

[code]

But there should be:

[code]

Please, fix all this issues. (And if you want I can myself prepare such patch.)

[2014-10-29 02:50] tcmeta opened #26 "pppd(8) RFC 1990 in 'See Also' section"
The man page pppd(8) should perhaps include a reference to
RFC1990 The PPP Multilink Protocol (MP).

[2014-11-04 03:00] wuleping opened #27 "pppd：memory leaks occurs when Demand-dial,please conform!"
pppd , demand.c , demand_conf()
When it never dials up ok, every demand-dial will apply a memory,but never free.
framemax = PPP_MRU;
framemax += PPP_HDRLEN + PPP_FCSLEN;
 frame = malloc(framemax);

suggestion:
    if (NULL == frame)
    {
        frame = malloc(framemax);
    }

[2015-01-04 20:28] Hellqvio opened #31 "diff for files *.c *.h in pppd in order to make the bsd's build for review"
There are some new files not included in the diffs, but this should be enough ...

--- /home/ole/ppp-2.4.7/pppd/auth.c Sat Aug  9 14:31:39 2014
+++ auth.c  Sat Dec 27 12:11:07 2014
@@ -81,7 +81,13 @@
 #include <sys/types.h>
 #include <sys/stat.h>
 #include <sys/socket.h>
-#include <utmp.h>
+#ifdef SUPPORT_UTMP
- # include <utmp.h>

  +#endif
  +#ifdef SUPPORT_UTMPX
  +#include <utmpx.h>
  +#includ

[2015-01-14 08:54] shooorf opened #32 "segfault on pppd parameters dump when using plugin pppol2tp"
There is a bug in pppol2tp plugin (in this example - via xl2tpd, Ubuntu 14.10 server, linux core 3.16.0-29-generic):

Jan 14 00:56:27 iorange pppd[20230]: Plugin pppol2tp.so loaded.
Jan 14 00:56:27 iorange pppd[20230]: pppd options in effect:
Jan 14 00:56:27 iorange pppd[20230]: debug debug#011#011# (from /etc/ppp/options.xl2tpd)
Jan 14 00:56:27 iorange pppd[20230]: nodetach#011#011# (from command

[2015-03-01 11:35] farnz commented on #15
This is a kernel bug, if you're using rp-pppoe.so; the kernel eats the PADT and does not react to it.

https://patchwork.ozlabs.org/patch/444717/ has a kernel-side fix for it.

[2015-03-01 11:56] farnz commented on #3
I've created https://github.com/paulusmack/ppp/pull/34

PADT on clean disconnect is optional according to the RFC; the server is supposed to sense the LCP disconnect and terminate the session.

It sounds like your ISP's PPPoE relay doesn't do that, and instead relies on a long timeout to clean up in the absence of a PPPoE PADT.

[2015-03-02 04:53] clintonroy opened #35 "install mppe.h header"
make install-devel does not install mppe.h, which can be included by chap_ms.h.

[2015-03-02 04:55] clintonroy commented on #35
The following patch works for me:

diff -rupN ppp-2.4.5.orig/pppd/Makefile.linux ppp-2.4.5/pppd/Makefile.linux
--- ppp-2.4.5.orig/pppd/Makefile.linux  2009-11-17 08:26:07.000000000 +1000
+++ ppp-2.4.5/pppd/Makefile.linux       2015-03-02 14:37:03.072515408 +1000
@@ -85,7 +85,7 @@ ifdef CHAPMS
 CFLAGS   += -DCHAPMS=1
 NEEDDES=y
 PPPDOBJS += md4.o chap_ms.o
-HEADERS        += md4.h chap_ms.h
+HEADER

[2015-03-02 10:16] farnz commented on #15
You also want pull request 33 once you've taken the kernel-side fix, to suppress a false positive error message.

[2015-03-23 15:11] Ploppz opened #36 "ftp seems to be down"
Hi, the ftp url given on the home page seems to be down (ftp://ftp.samba.org/pub/ppp/). Resulting in the package ppp-mppe from AUR failing to install. Don't know if it's ok to post this here.

[2015-03-30 21:54] bjacke commented on #36
please just use this URL: https://download.samba.org/pub/ppp/
ftp is no longer an option on the server and also the webserver is https only since a while now.

[2015-04-20 17:14] bpringlemeir commented on #36
I figured this out by guessing.  However, updating the https://ppp.samba.org/download.html page to not have 'FTP' and to point to the 'https' link would be helpful?

[2015-06-02 11:11] farnz commented on #15
The kernel fix will be in Linux 4.1 and later.

[2015-06-22 15:09] bminer commented on #5
Honestly, there was likely some sort of hardware bug.  Maybe the modem isn't properly hanging up when a connection is lost?  We've found that we have to actually unplug the USB modem and plug back in to recover from lost connectivity (which occurs after a few days of being connected).  We've resorted to a USB hub with port power switching.

[2015-08-03 14:17] rogers0 opened #40 ""replacedefaultroute" fails in ipv6 session"
I found the default ipv6 route won't be set when configured with "replacedefaultroute" and "+ipv6" options.

I also find there was a [Debian bug #477245](https://bugs.debian.org/477245) on the same issue before, and is said to be forwarded to the formal [BTS#2126](http://ppp.samba.org/cgi-bin/ppp-bugs/incoming?id=2126), but I cannot find it in github's new issue list. So here I create a new report

[2015-08-04 15:48] rogers0 commented on #40
Submitted a [pull request] (https://github.com/paulusmack/ppp/pull/41) to fix this issue.

[2015-09-26 23:32] rybak opened #42 "Suggestion to improve plog output"
Here's the current (Debian Jessie) `plog` script (/usr/bin/plog from package ppp):

[code]

Why not "grep" the syslog for pppd, and then "tail" the result? As in:

[code]

This will show more relevant log messages to the user.

[2015-09-29 21:40] pprindeville opened #43 "Packet dumps sign-extend high bit of octet"
Pretty much what the title says.

Here's the fix: https://github.com/paulusmack/ppp/pull/30

[2015-10-05 22:14] EddyDz opened #44 "When using linkname, sometimes pid cache file contains only pid number"
Note: this could be specific to my distro, I am using Debian "Wheezy" on a BeagleBone Black (OMAP).

For the most part, using "linkname modem0" works by creating the file /var/run/ppp-modem0.pid and this file contains 2 lines of text. Line 1 has the pid number and line 2 has the interface name ("ppp0"). On rare occasions this file is created with only the pid number of the process. I treat this as

[2015-10-05 22:21] EddyDz commented on #44
Additional;

pppd version: 2.4.5

[2015-10-17 01:28] ar0311 opened #45 "pppd 2.4.7 not adjusting MTU/MRU using udev predictable names?"
Hi,

I've been trying to debug this for two weeks.

I'm on a GPON PPPoE service here, and observing the following while trying to get 1500 byte MTU working (per RFC4683):
1. Set underlying NIC MTU to 1508 (on my system is enp2s0)
2. Set mtu and mru in ppp/peers/provider to 1500
3. Set plugin rp-pppoe.so in above

When I connect we are passing PPP-Max-Payload tags around, and both sides seem to acc

[2015-10-29 19:17] dexdyne opened #46 "Address clashes between pppd and existing routes."
I'm sorry to say this is about an ancient version of pppd, 2.4.3, but that's what's on the box.

If I have an eth0 set up as 192.168.1.123 mask 255.255.0.0.

( Sorry this is an end-user config, and they were clearly only thinking about their own local networking needs, not the GPRS link I might want to add. )

Then I start up a GPRS session.

I found the GPRS link has configured itself as 192.168.

[2015-10-29 19:23] dexdyne commented on #46
OK - I find I take the eth0-related default route down in the ip-pre-up script, so pppd can set a default gateway. Is that my cause?

[2016-02-20 03:28] wenzhuoz opened #48 "PPPoE MTU problem"
The PPPoE Access Concentrator of my ISP offers MRU values of both 1492 and 1442. ppp-2.4.5 in Ubuntu 14.04 adopts 1492 as the MTU of the ppp device, while ppp-2.4.7 in Ubuntu 16.04 (xenial developement) adopts 1442. Choosing the lower MTU on the WAN link (ppp0) exposes users to the nasty PMTU-D problem, especially for remote VPN clients. I also reproduced the same problem in openwrt 15.05 and dd-w

[2016-02-20 03:32] wenzhuoz commented on #48
Based on [The Point-to-Point Protocol (PPP), 6.1. Maximum-Receive-Unit (MRU)](https://tools.ietf.org/html/rfc1661#page-41) ​and [A Method for Transmitting PPP Over Ethernet (PPPoE), 7. LCP Considerations](https://tools.ietf.org/html/rfc2516#page-7), I think pppd should choose the larger MRU as the MTU of ppp devices.

[2016-03-25 12:25] yegorich opened #51 "MUSL build breakage"
Following patch [1] fixes the issue. Though it might be better to divide this patch in logical chunks.

[1] http://cgit.openembedded.org/openembedded-core/tree/meta/recipes-connectivity/ppp/ppp/0001-Fix-build-with-musl.patch

[2016-05-30 09:13] shi-hao opened #56 "3g dial AT char ^"
i want to send at command to set the 3g module's network mode, the command is as follow.
AT^PREFMODE=8
but the char ^ is not sent atually, so i want to know how to send the char ^, how to edit the chat script.

[2016-06-01 01:45] paulusmack commented on #56
Put a backslash before the ^, like this: AT\^PREFMODE=8

[2016-06-01 01:46] paulusmack commented on #56
try again: AT\\^PREFMODE=8

[2016-06-01 02:11] shi-hao commented on #56
thank you  paulusmack， thank you very much！
The day before yesterday, i comment several lines source code about the char ^, then compile,
it also works. But i know it is not a reasonable way, thank you!

[2016-06-01 03:56] #56 closed

[2016-06-15 03:36] agentgoblin opened #57 "Add mppe-optional option"
Hi. How about add patch for configure optional usage mppe from here:
https://bugs.launchpad.net/ubuntu/+source/ppp/+bug/88986

It's add "mppe-optional" option, which allow connect with mppe to hosts with mppe support and allow work without mppe if host not support mppe. It may be useful to connect from/to different devices with and without mppe support in same time.

[2016-08-04 23:27] amosshapira opened #59 "Add support for PEAP?"
jumpcloud.com, an 'LDAP as a Service' and 'RADIUS as a Service' provider, tells me that they only support PEAP (https://en.wikipedia.org/wiki/Protected_Extensible_Authentication_Protocol) to let me use RADIUS to authenticate VPN users.

Would it be possible to add support for this to pppd?

Thanks.

[2016-10-09 00:19] cognifloyd opened #68 "Add tags for old releases"
Please add tags to the following commits:
- [ ] 2.0.1 0b63a24d54ba4708c88e31bdd74b0145956c1478 (oldest commit in repo)
- [ ] 2.0.2 827c2e429c211f4d28b8e9131e44f1289f121e45
- [ ] 2.1.0 08d8e50ecd9e7188b8c9781bd37b3f48009ca524
- [ ] 2.1.1 f7376b4e878809e41784938852db07f188455196
- [x] 2.1.2a 70a369c133fa23289034f738bb50bde5df23db37
- [ ] 2.1.2 01348355a72c10aeb6f9c3ba02ddd43ee3a995e3
- [x] 2.2 175d3

[2016-10-09 00:24] cognifloyd commented on #68
Sorry for posting this so soon. I hit enter one too many times. I'll update the list with the commits that need to be tagged.

[2016-10-18 04:31] cognifloyd opened #70 "Add systemd daemon support"
nodetach and updetach are helpful, but it is difficult for systemd to know when pppd is up enough to start services that depend on it. Explicit systemd support would make dependencies easier to deal with.

[2016-11-21 15:41] teknoraver opened #71 "Is this repository still maintained?"
Please answer and close the bug if it's still maintained by someone.

[2016-12-08 17:17] mysticall commented on #71
radattr.c not compatible with new FreeRADIUS Client Library. Maybe and radius.c not compatible.

[2016-12-26 17:43] jidanni commented on #71
Well maybe we can send bug reports to https://bugs.debian.org/cgi-bin/pkgreport.cgi?package=ppp .

[2016-12-26 18:09] bootc commented on #71
Please don't send upstream bugs to Debian's ppp package. I may maintain the Debian package, but I do _not_ wish to become the ppp upstream, sorry.

[2016-12-28 08:58] mysticall commented on #71
This problem must be fixed before the next stable Debian.

[2016-12-28 09:21] yegorich commented on #71
ppp seems to be maintained by [samba.org](https://ppp.samba.org/index.html). This would be the right place to ask. Does anyone have a good contact there?

[2016-12-28 13:30] jku opened #73 "Fails to build with 4.9 & musl libc"
pppol2tp plugin fails to build with linux 4.9 headers and musl libc with:

[code]

I've fixed this locally by removing `#include <linux/if_pppox.h>` from openl2tp.c and pppol2tp.c as the include isn't actually needed, but I'm unsure whether this is the fix you'd like upstream... Let me know if you'd rather have a PR.

[2017-02-21 08:02] anyhit opened #75 "busy loop: received SIGTERM before auth fail"
ppp-2.4.7 xl2tpd-1.3.0： dial with a error password
logread：
daemon.err Feb 21 15:43:48 pppd[15495]: Failed to open /dev/pts/1: No such file or directory

code:
pppd/tty.c
 518 int connect_tty()
 519 {
……
            /*get sigterm and got_sigterm=SIGTERM*/
 561         got_sigterm = 0;/*got_sigterm be cleared,so SIGTERM lossed*/
……
 770         if (got_sigterm)
 771                 asked_to_quit =

[2017-02-23 21:50] sthibaul opened #76 "Add ipv6cp-accept-remote option"
Hello,

The patch below comes from fedora & debian, it adds the ipv6cp-accept-remote option, which behaves like its v4 counterpart, ipcp-accept-remote.

[patch.txt](https://github.com/paulusmack/ppp/files/797825/patch.txt)

[2017-03-13 03:19] 17717676772 opened #78 "pppd echo LCP configure_request and ack by peer,and when the peer initiate the NCP,my pppd initiate a LCP configure_request again and no ack or nak for the NCP request"
2017-03-10 15:02:34:602 << F9 07 EF 61 7E 7D DF 7D 23 C0 21 7D 21 7D 21 7D 20 7D 34 7D 22 7D 26 7D 20 7D 20 7D 20 7D 20 7D 25 7D 26 93 7D 2F 7D 22 22 7D 27 7D 22 7D 28 7D 22 DE 6C 7E 7F F9
                           C Adress:1 UIH P/F:0 LEN:48
2017-03-10 15:02:34:603 >> 7E 7D DF 7D 23 C0 21 7D 21 7D 21 7D 20 7D 34 7D 22 7D 26 7D 20 7D 20 7D 20 7D 20 7D 25 7D 26 93 7D 2F 7D 22 22 7D 27 7D 22 7D 28

[2017-03-18 09:49] #42 closed

[2017-03-18 09:51] paulusmack commented on #68
I have pushed out tags for most of those releases, as many as I still have the .tar.gz (or .tar.Z) file for.

[2017-03-18 09:51] #68 closed

[2017-04-19 13:24] sparse91 opened #81 "pptp host route issue"
Hi
pptp doesn't add host route entry in route table. It was working before.

Linux arch 4.10.10-1-ARCH x86_64
pptpclient 1.8.0-2

[2017-04-24 11:44] malikolivier opened #82 "Unsupported protocol 0x3 received"
Hi, I am running pppd on a linux 4.9 kernel.

I get the above warning quite a lot and I am wondering how this can be solved.

I am using a SIM5360 USB modem. I read the [FAQ](https://github.com/paulusmack/ppp/blob/84684243d651f55f6df69d2a6707b52fbbe62bb9/FAQ#L452).

Here is an example of the complete logs:
[code]

Sometimes, it retries several times and it can take some time to have ppp0 up. As th

[2017-05-18 05:45] Amophis666 opened #83 "LCP terminated by peer, id=0x5"
I use a GPRS modem, and attach ISP called "TDC" in Denmark,
then ppp server send back LCP TermReq. But HSPA modem works.
the log is as below:
================
SYSLOG 10: sent [LCP ConfReq id=0x1 <mru 1600> <asyncmap 0x0> <magic 0x326c4556>
 <pcomp> <accomp>]
ppp0 output: FF03C02101010018010406400206000000000506326C455607020802
SYSLOG 08: fsm_sdata(LCP): Sent code 1, id 1.
SYSLOG 10: Timeout 2dde10

[2017-05-23 05:34] Amophis666 commented on #83
Is this issue related about timing of ppp packet transmission? I use this ppp package in different OS kernel, Linux works, but RTOS fail.

[2017-05-23 05:40] Amophis666 commented on #83
After I check the RFC for LCP/CHAP/IPCP, the packet tx/rx log above is correct, now I focus on the timing of packet transmission in different OS kernel.

[2017-05-27 05:42] aduzsardi commented on #82
can you try the `nodeflate`  option in /etc/ppp/peers/options or the per device options file ?

[2017-05-27 05:51] malikolivier commented on #82
Thanks! Will try this as soon as I can.

[2017-05-29 02:42] malikolivier commented on #82
I tried it out, but it does not seem to change anything. I have exactly the same behavior. What is your reasoning behind adding the `nodeflate` option? Can deflate mode cause issues?

Thanks.

[2017-06-10 11:05] aaron-w2 opened #84 "Async Control Character Map and PPTP"
It seems that no matter what I do I am seeing pppd request the async control character map of 0x00000000 during LCP negotiation with my router during PPTP setup. The router rejects the async control character map parameter and there is no way to remove this from the negotiation it seems. This is connecting using ppp 2.4.7 to my Mikrotik router.

I have a pcap with this failure from wireshark.

[2017-06-10 11:07] aaron-w2 commented on #84
[pptp-fail.pcapng.zip](https://github.com/paulusmack/ppp/files/1065793/pptp-fail.pcapng.zip)

[2017-06-10 11:17] aaron-w2 opened #85 "Another pptp fail with VPN firewall"
I am seeing PPTP fail during lcp negotiation with a particular firewall. I believe the issue may be that ppp is neither acknowledging nor rejecting the configuration requests sent by the firewall.

In this case the server is sending callback, CBCP, BACP and a multilink endpoint discriminator parameters.

I have attached a GRE capture using wireshark

[pptp-fail2.pcapng.zip](https://github.com/paul

[2017-06-18 02:10] paulusmack commented on #84
It seems like your pppd isn't receiving any packets from the router, since all it is doing is sending out its own configure-request over and over. If your pppd was seeing the configure-reject from the peer it would resend its configure-request without the asyncmap, accomp or pcomp options. You could use the 'debug' option on your end (e.g. add it to /etc/ppp/options) to see what packets pppd on yo

[2017-06-18 02:12] paulusmack commented on #85
Again, use the debug option on your pppd to see what it is receiving. If pppd is not receiving the packets from the peer then the problem is not in pppd, it's in whatever is supposed to be delivering the packets to pppd.

[2017-06-18 02:15] paulusmack commented on #82
Looks a bit like something is getting corrupted in the serial stream between pppd and the modem. You could try using the 'record' option to record the actual characters sent and received. It may be that some control characters are treated specially by the modem and need to be escaped.

[2017-06-18 04:53] aaronw2 commented on #84
I found the problem. It seems that SuSEfirewall2 blocks GRE by default. I had to do a lot of hunting to figure out how to permit it but now it's working.

[2017-06-18 10:42] #84 closed

[2017-06-18 10:42] #85 closed

[2017-06-21 22:07] cbiedl opened #86 "Buffer overflow in pppd/plugins/radius/util.c if PID exceeds 16 bit"
Hello,

reported in many places but appearently never got upstreamed:

If the PID exceeds 16 bit, the sprintf statement in `rc_mksid` results in a buffer overflow:

https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2015-3310
https://bugs.debian.org/782450

Note the patch in Debian is just a workaround and should be `% 65536` - obviously the better solution was to enhance the buffer size.

[2017-07-04 10:04] aduzsardi commented on #82
i've seen this message , and i know `nodeflate` has something to do with that.

[2017-07-04 17:36] santiago-vanoli commented on #82
Hi @malikolivier
I'm having the same problem with SimCom SIM5360E-mPCIe SIM.
Have you made any progress in solving it?

Thanks.

[2017-07-05 01:29] malikolivier commented on #82
Nope no progress. I will try with the `record` option when I have time.

Finally I tried with another model of modem and used the ppp configuration provided by the maker. It seems to work without issue.

By the way, I should have shared it before, but here is the ppp configuration used for SIM5360:

[code]

[2017-07-06 16:52] santiago-vanoli commented on #82
I've tried the `record` option and the sent data  is exactly the same as the data received with ProtRej.
I'm sending 80 fd 01 01 00 07 15 03 2f
and receiving ff 03 c0 21 08 f0 00 0d 80 fd 01 01 00 07 15 03 2f
where as far as I understand the first 8 numbers are the ProtRej code and the rest gives the data rejected.

Does this mean the data is not corrupted? If so, how can I try to fix this?

Thank

[2017-07-13 15:58] santiago-vanoli commented on #82
Fixed it! In my case was a problem with the chatscript. Adding the line
 `ATQ0 V1 E1 S0=0 &C1 &D2 +FCLASS=0`
did the trick.
Hope it's useful.

[2017-07-13 21:17] nomis opened #87 "Lost CHAP authentication packets do not result in a timeout by the client"
If CHAP authentication is required with the peer but this is never completed (either because the server never sends the challenge or because the client doesn't receive the outcome) then the client will wait forever, relying on the server to terminate the connection.

This can easily happen if the CHAP challenge or outcome packet is lost for any reason.

[2017-09-29 11:39] santiagorr opened #89 "Add support for IPv6 RADIUS attributes"
Alarig Le Lay reported an issue about handling IPv6 radius attributes, and proposed a patch in [https://marc.info/?l=linux-ppp&m=145226335014356&w=2](https://marc.info/?l=linux-ppp&m=145226335014356&w=2)

The patch has been proposed to debian in
[https://bugs.debian.org/874620](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=874620#10 )
and I am just forwarding the patch here for making it more

[2017-10-01 18:14] mysticall commented on #89
Alarig Le Lay patch:
[IPv6-attributes.txt](https://github.com/paulusmack/ppp/files/1347393/IPv6-attributes.txt)

[https://github.com/paulusmack/ppp/tree/master/pppd/plugins/radius](url)
[https://github.com/radcli/radcli/tree/master/lib](url)
There are major changes between the FreeRadius client in PPP and the current radcli.

[2018-01-23 21:39] xensystems commented on #59
Hi,
PEAP implemented by this patch https://github.com/rustylife/peap
It would be awesome if ppp devs include it in one of the future releases.

[2018-02-08 08:37] obluda opened #92 "xl2tpd and pppd running under qemu/kvm"
- pppd and xl2tpd running under qemu. kernel 4.14.17-1. i don't know if it belongs to pppd or xl2tpd bug list.

- content of /etc/ppp/options.l2tpd::

ms-dns  192.1.2.254
noccp
auth
idle 1800
nodefaultroute
debug
lock
proxyarp
connect-delay 5000
ppp debug

- here are xl2tpd logs::

Feb 08 09:18:05 vpn xl2tpd[4907]: xl2tpd[4907]: tx_speed_avp: transmit baud rate is 100000000
Feb 08 09:18:05 vpn xl2

[2018-02-10 20:31] obluda commented on #92
Sorry about that. Related part of the trace was elsewhere:

[pid   746] openat(AT_FDCWD, "/dev/ppp", O_RDWR|O_NONBLOCK) = 8
[pid   746] fcntl(8, F_GETFL)           = 0x8802 (flags O_RDWR|O_NONBLOCK|O_LARGEFILE)
[pid   746] fcntl(8, F_SETFL, O_RDWR|O_LARGEFILE) = 0
[pid   746] ioctl(8, TIOCMBIS, [TIOCM_DTR]) = -1 ENOTTY (Inappropriate ioctl for device)
[pid   746] ioctl(8, TCGETS, 0x7fff80622830) =

[2018-02-27 14:33] gkarakou commented on #70
It would be great to add systemd support (and beyond sd_notify). Currently there is no way to execute pppd under an unprivileged linux account via systemd. Maybe some parts would have to be rewritten for seteuid,seteguid calls after pppoe discovery stage has been completed and routes have been added to run pppoe session stage under a limited account.

[2018-03-27 14:54] yarda opened #93 "Use openssl instead of the libcrypt for DES (glibc dropped libcrypt)"
Hi,

it seems the latest glibc (in Fedora glibc-2.27.9000-12.fc29) dropped libcrypt. The libxcrypt standalone package can be used instead, but it dropped the old setkey/encrypt API which ppp uses for DES. Thus the ppp should probably use openssl for the DES. I noticed there is already support for it in pppcrypt.c, but it seems unmaintained, contains typos preventing it from compilation and it seem

[2018-04-04 07:56] DimitriPapadopoulos opened #94 "incorrect pppd exit status in HTML man page"
The enumeration of exit statuses is not properly generated in the [HTML man page](https://ppp.samba.org/pppd.html#sect12):

Compare to the [source](https://github.com/paulusmack/ppp/blob/a3f379b/pppd/pppd.8#L1522-L1595):

The numerical exit codes are shifted by one.

[2018-06-23 07:28] #70 closed

[2018-07-24 04:08] zaadeh commented on #11
I can confirm that this issue has been fixed in the latest versions. I guess it was a bug in signal handling in pppd.
I'll close this issue.

[2018-07-24 04:08] #11 closed

[2018-12-03 22:20] yarda opened #108 "Errors found by Coverity Scan static analysis"
Hi, I have got some results of Coverity Scan static analysis. I filtered false positives and the following is the list of potential problems. I also tried to address them by PR. It may be not optimal and needs review (e.g. the explicit terminating nulls added after strncpy could be replaced by strlcpy, etc.).

<pre>
Error: VARARGS (CWE-237): [#def6]
ppp-2.4.7/chat/chat.c:503: va_init: Initializing

[2019-01-16 17:03] joakim-tjernlund opened #111 "new ppp release ?"
The last ppp release was quite some time ago. Is a new one forthcoming  ?

[2019-01-18 02:48] minhng99 opened #112 "Custom MAC address for each session?"
Hi, I want to run multiple PPPoE session on my machine but it require different MAC address, since I can only set the MAC address for the physical interface and not the one that ppp has created, I wonder if you could add a function for set custom MAC address for the session so I could use multiple PPPoE account on a single machine at the same time?

[2019-01-24 12:29] daviessm opened #113 "Request: configurable PADI timeout for rp-pppoe plugin"
#91 introduced configurable timeouts and number of attempts in the `pppoe-discovery` binary. Could the same options be added to the plugin?

In fact, just like this: https://github.com/fhost/ppp/commit/1c494caa146ba8227170876f433ccf04549f36b9

[2019-02-26 16:04] mhoejgaard opened #114 "Periodic kernel panic"
I have a TK1 connected to a modem that is handled by ModemManager and eventually pppd. The system usually operates as expected by booting, connecting to a network and remaining connected to a network until shutdown. In around 10% of the trials the network connection fails. This usually also causes most mmcli commands to hang. Inspecting dmesg given below reveals a kernel panic related to pppd. The

[2019-02-27 12:24] dojolabs-ci opened #115 "pppd dont replace defaultroute"
default route dont change even if defaultroute configured
from quick search there is some configuration like "replacedefaultroute" but when configured I got
unrecognized option 'replacedefaultroute
Thanks,

[2019-03-05 15:15] razorness commented on #115
As a workaraound, create executable shell script at: `/etc/ppp/ip-up.d`:
[code]

and at `/etc/ppp/ip-down.d`:

[code]

[2019-03-26 07:28] hansfn commented on #111
Yes, a new release is very much needed - ppp no longer compiles on Gentoo.

This has been fixed in commit https://github.com/paulusmack/ppp/commit/3c7b86229f7bd2600d74db14b1fe5b3896be3875 - "pppd: Use openssl for the DES instead of the libcrypt / glibc".

Please consider creating a new release ASAP.

[2019-04-03 22:51] kloczek commented on #111
Part of the problems of the ppp as the project is completely crappy and custom made set of makefiles and custom configure script.
It would be good to move to even autoconf/automake/libtool.
It would be good to know it that kind of ppp improvements would be welcome by maintainer or not.

[2019-04-08 04:13] lygstate opened #117 "call for release a new version of ppp that support for ifname"

[2019-04-08 08:26] alexeysilyuk opened #118 "Creating ppp interface"
Hello, I am using your pppd to creating ppp connection with my cell provider.
And I have a question, I see that pppd creating new interface with the given index (using unit option) and my question, what is the way you creating such interface.
I have 2 different modems on my device, one connecting via PPP connection and second using dhcp, and I want to create an interface name like you creating.

f

[2019-04-14 05:12] alexeysilyuk commented on #118
After deeper investigation, I found out that because of PPP is a point to point protocol you can create a new interface, Direct-IP/DHCP must have a real interface to obtain an IP address from DHCP server.

[2019-04-14 05:12] #118 closed

[2019-04-29 19:02] nihilus commented on #48
Nah, it shouldn't. You don't have a different MRU than your MTU on ethernet.

However you should do MSS clamping if you want to route packets via the connection.

[2019-04-30 22:53] nihilus commented on #114
You should file the bug to the appropriate kernel mailing list.

[2019-04-30 22:58] nihilus commented on #83
Which modem are you using?

[2019-05-05 22:46] #108 closed

[2019-05-13 11:44] REq888 opened #119 "IPCP: timeout sending Config-Requests"
Hi,
We have a problem with part of our devices which are using ppp to connect to the internet using 3G modem in US. The issue seems really odd as only few of the devices have this problem but it is a permanent problem on them (connection was never established).
Here are the logs with debug mode ON from the device which get timeout:
[code]

For comparison here is the log of correctly working device

[2019-05-24 08:20] madhatter0 commented on #40
See also [this pull request](https://github.com/paulusmack/ppp/pull/77), which refers to your request but implements a new option inside `pppd` instead of outsourcing it to a script.

[2019-05-30 21:26] sacchi73 opened #120 "ppp on vlan... datagram fields mismatch"
Hello,

I'm trying to connect using an ftth ONT.
My isp requires to connect on a vlan id 835, so I created that network.
When I start connection, I got tons of "Invalid PPPoE version (0)" "Bogus PPPoE length field (4359)".
Debugging with wireshask, I got the problem. After sender and receiver mac addresses, there are two bytes telling this is a 802.1Q virtual LAN (0x8100), followed by vlan id (835

[2019-05-31 21:48] sacchi73 commented on #120
Fixed.
I issued the command `vconfig set_flag eth1.835 1`. With set_flag == 1, kernel stops forwarding 802.1q tags to upper layers.

[2019-05-31 21:48] #120 closed

[2019-06-03 13:35] joakim-tjernlund opened #121 "IPV6 prefixlen=10 ?"
In pppd/sys-linux.c, prefixlen is hardcoded to 10 for IPV6 ppp links. Even the route added
has rtmsg_dst_len = 10
I don't understand where this comes from/why ?

To me prefixlen should be a /128 (host address), even for the route.

[2019-07-31 22:15] argumemnon opened #125 "pppd does not respond to SIGINT"
On macOS Mojave 10.14.3, after a successful connection to a peer, either via `pppd call` or `pppd file`, issuing Ctrl-C (SIGINT) does not terminate the ppp call. The process must be terminated via `kill` instead.

[2019-09-02 10:01] Neustradamus commented on #111
+1

[2019-09-04 10:51] jovemars opened #126 "pppd cracked when a malformed PPPoE Discovery package recieved"
on the time pppd process recieves a malformed PPPoE Discovery package, such as the payload length value is greater then the frame size, or one of the tag length value is greater than the last payload length after this tag, the parsePackage function will be out of memory bounds. the process will crack because of SIGSEGV.

[2019-09-26 13:08] kloczek commented on #111
I'm begging to make new ppp release :/

[2019-10-01 10:31] Neustradamus commented on #111
@paulusmack, @joakim-tjernlund, @hansfn, @kloczek: What do you think for an official perfect build?

[2019-10-01 11:55] joakim-tjernlund commented on #111
A release would be great but seems like github is not the place Paulus wants to discuss, see
https://github.com/paulusmack/ppp/commit/347904e33a8a1993316e57445a1ba8243cd947ce

[2019-10-01 12:07] paulusmack commented on #111
Right. I do prefer mailing lists (i.e. the linux-ppp@vger.kernel.org list).

However, since we're here, do you all think the tree in its current state is releaseable, or are there things that must be fixed before release?

[2019-10-01 13:16] kloczek commented on #111
Paul,

Please understand that asking to subscribe on mailing list to ask the question is kind of overkill.

Mailing lists are OK in case of long term commitment to join the project. For anything else github issue tickets are all what is needed.
Many github projects already abandoned even mailing list and they are using issues tickets as topics to discuss.
You can have look on https://github.com/at

[2019-10-01 13:17] kloczek commented on #111
So going back to the subject: do you have any plans to make new release soon? :)

[2019-10-01 18:48] Neustradamus commented on #111
@paulusmack: The list is a big mess...

Can you look for integrate patches here too? https://www.nikhef.nl/~janjust/ppp/

[2019-10-01 20:39] nihilus commented on #121
Because of link-local addresses. You won't get an actual routable IPv6 over the ipv6 control protocol. That's up to RA / DHCPv6 / sysadmin to provide.

[2019-10-01 21:01] nihilus commented on #126
@jovemars neat finding there, did you report it upstream to the roaring penguin folks?

[2019-10-01 21:08] joakim-tjernlund commented on #121
My link local address for Ethernet is 64, why is ppp different?
I don't need a rotatable address for my uses case, unnumbered ppp

[2019-10-01 21:11] nihilus commented on #121
Nope, it's not. If it is there is a bug in your ipv6 stack. The link-local scope is fe80::/10. And defined as such a link-local address should have the /10 prefix.

[2019-10-01 22:03] paulusmack commented on #111
What list? The mailing list, or are you referring to some list of patches, or some other list?

That's rather large. I would need a signoff at least. I would also want James Carlson to review and ack it. Please post it to linux-ppp (with a Signed-off-by, and a From: line if you are not the author) so he sees it. Please also consider splitting it, if that would make a series of logical steps that a

[2019-10-01 22:06] paulusmack commented on #111
Puke. My experience of autoconf/automake has been that their output is verbose, unreadable and undebuggable. For a small project like ppp that only supports Linux and Solaris there isn't a lot that needs to be configured, so I prefer something that's simple and direct and understandable.

[2019-10-01 22:10] paulusmack commented on #111
Yes, I would like to make a new release soon. The question is whether I just release what's in the tree now, or if there are some patches that are really needed before release.

[2019-10-02 06:34] joakim-tjernlund commented on #121
[code]
This is how Linux assigns my fe80:: address and its /64 . You think Linux is broken?
/10 defines the whole range form LL addresses, why would I use the whole range for one LL
address?

[2019-10-02 17:51] nihilus opened #127 "CCP / MPPE + peer with confrej loops forever."
You basically end up in a send-reject loop for ever if you don't explicitly set mppe or nomppe due to the flawed logic in ccp.c handling of rejected CCP options. It looks if we actually get MPPE back from the other peer when the allowed options must be checked as well and cleared if MPPE is rejected.

[2019-10-03 22:04] paulusmack commented on #127
Can you post an example log showing this behaviour?

[2019-10-04 22:00] nihilus commented on #127
Never mind, I used the mppc/mppe patch and the bug was in it.

[2019-10-04 22:00] #127 closed

[2019-10-23 13:00] giox069 commented on #115
I usually install pppd on ubuntu or debian where `replacedefaultroute `is available. Now I have to configure an arch linux installation, and I found that `replacedefaultroute` is not available under arch.
(I hope I'm posting this message on the correct upstream project ;))

Could someone import the debian patch for replacedefaultrote ?
The debian patch is available [here](https://sources.debian.or

[2019-11-29 03:08] lygstate commented on #111
@paulusmack I suggest release a version first, and then bugfixes it

[2019-12-07 21:37] flozilla opened #130 "Improper null termination in getword() can cause OOB read by strlen()"
pppd parses files using the function getword(). When getword() is executed on a file that contains a string longer than 1023 bytes, it uses the option_error() function to print a warning that the parsed string, which is stored in the variable "word", is >= MAXWORDLEN = 1024 bytes long. However, "word" is null terminated after option_error() is executed (see options.c:1382-1390):

[code]

Calling o

[2019-12-29 22:36] paulusmack commented on #130
Fixed by c10c3c7c. And b311e98b should help defend against similar things elsewhere.

[2019-12-29 22:36] #130 closed

[2019-12-29 23:00] paulusmack commented on #126
jovemars: Is this an actual observation, or something you inferred by reading the code? If it's an actual observation and you have a reproducer, please send it to me privately so I can use it for checking the fix.

I have looked through the code and I'm not seeing the issue you describe. Each call to receivePacket() is followed by a check like this:

	/* Check length */
	if (ntohs(packet.length) +

[2019-12-29 23:04] paulusmack commented on #125
What version of pppd is this? We had a problem like this some time ago but it is fixed as of ppp-2.4.5 as far as I know.

[2019-12-30 01:58] paulusmack commented on #115
I looked at the patch. I can't take it as-is because:

- It doesn't have any authorship information or signed-off-by.
- I think the replacedefaultroute option should be privileged.
- The option should really be implemented for Solaris as well as Linux.

[2019-12-30 02:00] paulusmack commented on #114
Closing this because it isn't a bug in pppd.

[2019-12-30 02:00] #114 closed

[2019-12-30 11:10] paulusmack commented on #111
I propose to release the tree as it currently is (plus updates to README and pppd/patchlevel.h) as ppp-2.4.8 shortly.

[2019-12-30 11:43] joakim-tjernlund commented on #111
Feels OK, further fixes/features can go into 2.4.9

[2019-12-30 11:53] joakim-tjernlund commented on #111
Maybe add https://github.com/paulusmack/ppp/pull/53 too?
Fixing the CFLAGS/LDFLAGS is something many distros need I think.

[2019-12-30 12:04] Neustradamus commented on #111
@paulusmack: Have you integrated patch from https://www.nikhef.nl/~janjust/ppp/?

[2019-12-30 13:23] kloczek commented on #111
IMO priority for now should be first release all already committed changes than as often as possible release all pending things in smaller chunks.

[2019-12-30 22:37] Neustradamus opened #131 "Add EAP-TLS in main code"
Please add EAP-TLS in the main code:
- https://www.nikhef.nl/~janjust/ppp/

[2019-12-31 16:53] jjkeijser commented on #131
+1 from me (the author of the patch).
Please let me know what extra work would be needed to merge the patch. Others expressed their interest in this as well, and my last patch should compile on all Linux distros without any problems.  As Solaris does not seem to support MPPE I never adapted my patch for it.

[2019-12-31 17:28] Neustradamus commented on #111
Please look this ticket: https://github.com/paulusmack/ppp/issues/131

[2020-01-03 00:58] Neustradamus commented on #131
@paulusmack: You have forgotten... It is possible to add for 2.4.9?

[2020-01-03 01:04] Neustradamus commented on #111
@paulusmack: Thanks for 2.4.8 but all are not in...

Can you see for add #131 in 2.4.9?
The author @jjkeijser is here to help...

And look actual PRs (some good?) and do a call ^^

[2020-01-03 01:05] Neustradamus commented on #131
@jjkeijser: Can you create a PR?

[2020-01-03 05:52] #71 closed

[2020-01-03 05:55] paulusmack commented on #2
Seems like this would be caused by a mismatch in whether MPPE is defined in pppd/Makefile.linux vs. pppd/plugins/Makefile.linux.

[2020-01-03 05:55] #2 closed

[2020-01-03 05:55] #3 closed

[2020-01-03 05:56] #4 closed

[2020-01-03 05:57] #5 closed

[2020-01-03 05:59] paulusmack commented on #7
closing due to lack of response to questions

[2020-01-03 05:59] #7 closed

[2020-01-03 06:00] paulusmack commented on #8
closing due to lack of response

[2020-01-03 06:00] #8 closed

[2020-01-03 08:13] paulusmack commented on #14
Closing this issue as stale. Though, if someone had an easy reproducer I would investigate further.

[2020-01-03 08:13] #14 closed

[2020-01-03 08:15] #82 closed

[2020-01-03 08:18] paulusmack commented on #57
Since the patch is not trivial I will need a Signed-off-by line from the author of the patch.

[2020-01-03 08:20] paulusmack commented on #48
This is not something that should be solved in pppd.

[2020-01-03 08:20] #48 closed

[2020-01-03 08:24] paulusmack commented on #46
In general pppd doesn't have any logic to choose IP addresses based on what other network devices the system has. It either takes what the other end tells it, or it tells the other end what addresses to use based on command-line options.

Closing this because it is stale and the issue is not something that can be solved in pppd.

[2020-01-03 08:24] #46 closed

[2020-01-03 08:49] paulusmack commented on #45
Pppd doesn't send an LCP option to indicate that it can receive 1500 byte packets because that is the default. In fact PPPoE violates the PPP specification (RFC1661/STD-051) by not being able to transmit 1500 byte packets.

Closing this as it is old and pppd's behaviour is correct according to the applicable standards.

[2020-01-03 08:49] #45 closed

[2020-01-03 09:03] paulusmack commented on #43
Fix merged.

[2020-01-03 09:03] #43 closed

[2020-01-03 10:42] paulusmack commented on #44
pppd writes the file more than once, initially with just the pid, and then once the PPP interface is created, with the pid and the name of the interface.

[2020-01-03 10:42] #44 closed

[2020-01-03 10:42] paulusmack commented on #32
Fix merged.

[2020-01-03 10:42] #32 closed

[2020-01-03 10:43] paulusmack commented on #31
Wow, github really mangled that diff...

[2020-01-03 10:43] #31 closed

[2020-01-03 10:48] paulusmack commented on #27
demand_conf() is only called once at program startup, not every time there is demand for the link, so there is no leak.

[2020-01-03 10:48] #27 closed

[2020-01-03 10:53] paulusmack commented on #15
Fixed in kernel.

[2020-01-03 10:53] #15 closed

[2020-01-03 11:40] paulusmack commented on #40
Fix merged

[2020-01-03 11:40] #40 closed

[2020-01-03 15:23] floppym commented on #2
It seems you fixed this in 2b05e22c62095e97dd0a97e4b5588402c2185071.

[2020-01-04 01:07] paulusmack commented on #92
You have the word "ppp" in /etc/ppp/options.l2tpd. That makes pppd think you want to use /dev/ppp as the serial device, and that doesn't work. You actually mean to use /dev/pts/1. Take out the "ppp" word from /etc/ppp/options.l2tpd.

Closing as user error.

[2020-01-04 01:07] #92 closed

[2020-01-05 01:14] paulusmack commented on #117
ppp-2.4.8 has this.

[2020-01-05 01:14] #117 closed

[2020-01-05 13:05] jjkeijser commented on #131
I will create a PR at the end of January.  I am currently away from work so I don't have full access to my development environment.

[2020-01-05 13:07] Neustradamus commented on #131
@jjkeijser: No problem ^^

[2020-01-07 00:26] rustylife commented on #59
https://github.com/paulusmack/ppp/pull/128

[2020-01-13 21:36] argumemnon commented on #125
It doesn't look like whatever version I'm using has a flag to print the version. Any ideas how to check?

[2020-01-16 21:26] giro83 opened #134 "pppd password visible in `ps` (and the Processes screen of LuCI webui)"
OpenWrt 19.07 on Linksys WRT3200ACM

Originally reported here (incorrectly): https://bugs.openwrt.org/index.php?do=details&task_id=2727

When configuring the WAN interface to use PPPoE and supplying a username/password, these are visible as arguments in `ps` output from the cli (and in the Processes screen of the LuCI webui).

There are tools (e.g. curl, IIRC) that successfully hide sensitive argu

[2020-01-22 12:44] Neustradamus commented on #131
@jjkeijser: Have you looked?

[2020-01-28 14:50] felixonmars opened #135 "Signed release"
The old download location (http://download.samba.org/pub/ppp/) has signed tarballs but the latest 2.4.8 release is not there. It would be great if the new release could be signed too.

[2020-02-07 21:49] paulusmack commented on #112
There is already a "pppoe-mac" option which should do what you want, assuming that you're talking about being a client of several different PPPoE servers. If you want your machine to act as multiple PPPoE servers, that's outside the scope of pppd since the rp-pppoe plugin doesn't have the ability to act as a PPPoE server.

[2020-02-07 21:49] #112 closed

[2020-02-07 21:50] paulusmack commented on #86
Fixed by 858976b1.

[2020-02-07 21:50] #86 closed

[2020-02-07 22:00] paulusmack commented on #21
Should be fixed by cab58617 in ppp-2.4.6.

[2020-02-07 22:00] #21 closed

[2020-02-07 22:38] paulusmack commented on #131
I assume you have fixed CVE-2018-11574?

[2020-02-08 08:01] jjkeijser commented on #131
Hi,

That was fixed in v1.101 of the patch. For inclusion into the main line of code I'd use a newer version, so yes it has been fixed.

JJK

On Feb 7, 2020, 23:38, at 23:38, Paul Mackerras <notifications@github.com> wrote:

[2020-02-13 15:55] enaess commented on #131
What's the status of this patch now? Any chance this can be committed to master branch?

[2020-02-18 15:52] enaess opened #137 "Expose MPPE keys for plugin via a hook?"
While MSCHAPv2 or EAP/MSCHAPv2 can negotiate the MPPE keys and they are needed in order to bind the higher-level with the lower level when negotiating the SSTP protocol. These keys are zero'd out by the time CCP come up, and are needed when network layer comes up in order to send the SSTP_CONNECTED message.

Do you have a suggested way of doing this, or would you like a patch to add a function to

[2020-02-20 21:32] anthraxx commented on #135
@paulusmack ping, any news?

[2020-02-24 09:44] enaess opened #138 "Add support for EAP-MSCHAPv2"
There is an implementation available here. I also created a branch for this fix here: https://github.com/enaess/ppp-eap-mschapv2

https://w3logistics.com/blog/archives/438-EAP-MSCHAPv2-for-pppd-2-4-7.html

[2020-03-04 06:39] jjkeijser commented on #131
Hi all,

On 13/02/20 16:55, Eivind Næss wrote:

sorry for the long delay,but I think I've just managed to create my
first github pull request :)

Summary:

Added EAP-TLS support based on ppp-2.4.7-eaptls-mppe-1.200.patch with
support for
- EAP-TLS authentication using X509 certificates on both client and
server side
- TLS v1 - v1.3 (depending on OpenSSL library support)
- PKCS#11 hardware tokens
-

[2020-03-06 14:34] nomis commented on #87
Comments copied from my PR that fixes the issue but has been closed:

----

The client can't send a `CHAP Response` if it never received a `CHAP Challenge`. The server may not resend this or the retries may also be lost, so the client must timeout in this scenario.

The server may not accept a duplicate `CHAP Response` a full 60 seconds later, especially when it has already sent a `CHAP Success`.

[2020-03-10 13:45] enaess commented on #131
@paulusmack - what's the status of this, could we have this merged please?

[2020-03-11 12:27] daviessm commented on #113
Looks to be fixed by commit 8e77984ac5d7acbe68b2b2f590abd17564c9730d

[2020-03-11 12:27] #113 closed

[2020-03-21 04:20] paulusmack commented on #134
I just committed a change to fix this, BUT --- it remains a bad idea to put the password on the command line, because there is inevitably a short time window after starting the process before it gets to processing and overwriting that argument. It is a much better idea to put the password in a secrets file (/etc/ppp/pap-secrets, etc.) or use the +ua option, which reads both username and password f

[2020-03-21 04:38] #134 closed

[2020-03-21 04:42] paulusmack commented on #18
This can happen if the IPCP Configure-ack that we sent got lost. The peer resends its configure-req after a timeout, and pppd then has to renegotiate IPCP according to the PPP standards. So it is expected, and not a bug.

[2020-03-21 04:42] #18 closed

[2020-03-21 04:43] paulusmack commented on #35
I just committed a slightly different fix for this (HEADERS += mmpe.h inside the ifdef MPPE block).

[2020-03-21 04:43] #35 closed

[2020-03-21 04:50] paulusmack commented on #26
Done.

[2020-03-21 04:50] #26 closed

[2020-03-21 06:17] paulusmack commented on #36
I updated the web page as suggested.

[2020-03-21 06:17] #36 closed

[2020-03-21 06:18] paulusmack commented on #135
The ppp-2.4.8 release is there with a signature (.asc file).

[2020-03-21 06:18] #135 closed

[2020-03-21 06:20] paulusmack commented on #17
I updated pppd.html and created a pppdump.html.

[2020-03-21 06:20] #17 closed

[2020-03-21 06:30] paulusmack commented on #131
Some questions about this:

- where do I find the RFCs or other documentation describing the protocol?
- how would I test this?

I asked James Carlson to look at the patch, and he sent some comments to me via email. I have pasted in his comments below. The comment about the code only being able to do EAP-TLS when this patch is included is troubling (though I haven't yet verified for myself that hi

[2020-03-21 09:02] paulusmack commented on #78
Closing this because it's 3 years old and I can't read it.

[2020-03-21 09:02] #78 closed

[2020-03-21 09:04] paulusmack commented on #111
I'm going to do another release soon with the CVE fix. I am not going to merge any of the EAP patches for this release, as they are all fairly large and all need more review. I have merged a few small and safe fixes and I could add some more as long as they are obviously correct.

[2020-03-21 09:14] paulusmack commented on #119
It really seems like the problem must be at the other end, since we see normal LCP and CHAP traffic but no IPCP packets at all in the bad case.

Each device is presumably individually identified and authorized by the provider, despite the fact that they all use the same name in the CHAP response. So my best guess would be that the provider's systems think some devices are authorized for internet t

[2020-03-21 09:15] paulusmack commented on #94
Now fixed.

[2020-03-21 09:15] #94 closed

[2020-03-21 09:18] paulusmack commented on #125
pppd --version. If your pppd doesn't have that then it's really old (i.e. before v2.3.0).

[2020-03-21 10:29] kloczek commented on #111
If may I ask you to have look on all Fedora parches https://src.fedoraproject.org/rpms/ppp/tree/master

[2020-03-24 14:00] jjkeijser commented on #131
In regard to your questions:  from my  pppd-EAP-TLS webpage https://www.nikhef.nl/~janjust/ppp/index.html :

- The Extensible Authentication Protocol (EAP; RFC 3748) is a security protocol that can be used with PPP. It provides a means to plug in multiple optional authentication methods.
- Transport Level Security (TLS; RFC 5216) provides for mutual authentication, integrity-protected ciphersuite

[2020-03-25 02:35] Neustradamus commented on #131
@jjkeijser: I have seen in this document: https://w1.fi/cgit/hostap/plain/hostapd/ChangeLog
- "added experimental support for EAP-TLS server with TLS v1.3"

Linked to?
- https://tools.ietf.org/html/draft-ietf-emu-eap-tls13-09
- https://tools.ietf.org/html/draft-dekok-emu-tls-eap-types-00

[2020-03-25 16:26] Neustradamus commented on #111
@paulusmack: All others CVE has been solved, in more the last CVE-2020-8597?

[2020-04-03 13:37] jjkeijser commented on #131
I've just posted  *two* new versions of my ppp-eap-tls patch:

* v1.201:
[https://www.nikhef.nl/~janjust/ppp/ppp-2.4.8-eaptls-mppe-1.201.patch](https://www.nikhef.nl/~janjust/ppp/ppp-2.4.8-eaptls-mppe-1.201.patch)
which is a small update to the patch submitted for inclusion into the mainstream ppp code. The update is that it will cap/force the TLS connection at TLSv1.2 even when compiling and link

[2020-04-03 20:04] Neustradamus commented on #131
@jjkeijser: Nice :)
@paulusmack: What do you think?

[2020-04-04 07:12] aleksandrgilfanov opened #142 "First link in multilink bundle is not used after link termination until bundle termination"
Problem can be reproduced in case of multilink with at least two links. Persist option must be enabled.

### How to reproduce:
There are two hosts, each has two serial interfaces. ttyp1 of Host1 connected with ttyp1 of Host2 and ttyp2 of Host1 is connected with ttyp2 of Host2.
[code]
1) Start first link pppd instances to create multilink bundle:
[code]
So, multilink bundle with first link is creat

[2020-04-17 20:45] enaess commented on #131
Can we get this patch merged into the project?

[2020-04-25 15:27] Neustradamus commented on #131
@paulusmack: Any news?
A merging and a new release soon?

Several users and developers wait you...

[2020-04-25 15:29] Neustradamus commented on #138
@paulusmack: What do you think?

Can you look for it?

Thanks in advance.

[2020-04-25 15:39] Neustradamus commented on #76
@sthibaul: The code is always good for current master?

@paulusmack: Can you look?

[2020-04-25 15:41] Neustradamus commented on #89
@santiagorr, @mysticall: In 2020, always good?
Can you look with the master branch?

@paulusmack: Can you look?

[2020-04-25 15:44] Neustradamus commented on #111
@paulusmack, can you look?

There are:
- Add EAP-TLS in main code: https://github.com/paulusmack/ppp/issues/131
- Add support for EAP-MSCHAPv2: https://github.com/paulusmack/ppp/issues/138

ISPs are now in IPv6:
- Add support for IPv6 RADIUS attributes: https://github.com/paulusmack/ppp/issues/89
- Add ipv6cp-accept-remote option: https://github.com/paulusmack/ppp/issues/76
- IPV6 prefixlen=10?: h

[2020-04-25 16:15] sthibaul commented on #76
It is still exactly like that in Debian 2.4.7, yes.

[2020-04-25 16:23] Neustradamus commented on #76
@sthibaul: Maybe good to do a PR?

[2020-05-13 22:14] mjeveritt commented on #51
@Polynomial-C this was one of the options I spoke about.
In ::musl overlay we have [this](https://gitweb.gentoo.org/proj/musl.git/tree/net-dialup/ppp/files/ppp-2.4.7-musl.patch)

[2020-05-17 16:38] iddq opened #147 "Feature Request: setenv_call_file"
Can you please merge the debian setenv_call_file patch?

[2020-05-18 18:45] pali commented on #125
Also sending SIGINT or SIGKILL via `kill` does not work correctly when using pppd for PPPoE. I prepared fix in following pull reuquest here: https://github.com/paulusmack/ppp/pull/148

[2020-05-27 10:50] Sander80 commented on #131
Greetings.
I see that currently the repository of jjeikser is missing.
Is this intentional?

Anyway that code exists currently in my repo
https://github.com/Sander80/ppp
I've been making pull requests to the repostory of jjeikser..

[2020-05-27 11:01] Sander80 commented on #131
And it's back...
jjeikser, what is the best way to contact you?
We've got some patches for your eap-tls patch and a way to test it:
https://github.com/Sander80/l2tp-ipsec-vpn

[2020-05-27 11:10] jjkeijser commented on #131
Hi,

On 27/05/20 13:01, Sander80 wrote:

I was having problems with my fork of the ppp code and was forced to
recreate it from scratch.
I merged in the fix to provide a method to pass password/PIN to the
PKCS#11 backend, based on the patches you and Petr submitted.
Also, in my latest PR I tried to minimize the changes, stripping out the
feature to use MD5&SHA1  from OpenSSL. This was a requirement

[2020-05-27 11:13] Sander80 commented on #131
Please have a look at this fix
https://github.com/Sander80/ppp/commit/cd41cfe20da8e415e6eebff788479de377f718f0

I was trying to make a pull request to you with this, before your repo was gone.
Your implementation of our fix for pins did not work, because UI_METHOD* transfer_pin = UI_create_method("transfer_pin"); is defined in a block and can be compiler-optimized outside.

I

[2020-05-27 11:27] Sander80 commented on #131
I made out a new pull request for you to the current code state

[2020-05-27 11:31] jjkeijser commented on #131
On 27/05/20 13:13, Sander80 wrote:

I don't understand why your patch is much different; the significant
difference consists of two dbglog statements - UI_create_method() is
still defined inside a block...  can you provide me with more info why
my implementation does not work for you?

[2020-05-27 11:35] Sander80 commented on #131
Let us move to your repository with the disscussion not to spam here )
https://github.com/jjkeijser/ppp/pull/1

[2020-06-23 01:48] Neustradamus commented on #131
@paulusmack: Any news?

[2020-06-23 01:49] Neustradamus commented on #121
@paulusmack: Any news about this problem?

[2020-06-23 01:53] Neustradamus commented on #76
@paulusmack: Any news?

[2020-06-23 19:24] rh100605 opened #152 "Compile wpa_supplicant 0.7.3 with openssl 1.0.0 fails in /src/crypto/tls_openssl.c"
I am trying too repair a corrupted imbedded Linux installation in a wifi attached picture frame using a Samsung 32bit armv7 processor. Many files were corrupted including ldconfig and wpa_supplicant 0.7.3.
I cannot get network access without wpa_supplicant for a software upgrade so I decided to make a new one

When I make ( on Raspberry pi)  wpa_supplicant version 0.7.3 it fails at lines 1267 and

[2020-07-05 14:31] pali commented on #121
It comes from [RFC 4291 _IP Version 6 Addressing Architecture_, section 2.4. _Address Type Identification_](https://tools.ietf.org/html/rfc4291#section-2.4).
IPv6 _Link-Local unicast_ address type has assigned prefix FE80::/10.

In section [2.5.6. _Link-Local IPv6 Unicast Addresses_](https://tools.ietf.org/html/rfc4291#section-2.5.6) can be seen that next 54 bits (after leading 10 bits) must be ze

[2020-07-06 02:11] Neustradamus commented on #121
@pali: Thanks for your reply!

So you confirm that the value can be changed and must not be hardcoded?

Who can do a PR and have a release soon?

[2020-07-06 13:37] pali commented on #121
Do you see somewhere in RFC 5072 that prefix is exchanged in IPV6CP protocol?

[2020-07-11 12:43] xosevp commented on #111
@kloczek

There is also a lot of pending patches, at least, in Debian and OpenWrt:

Debian (individual patches in debian/patches/ ):
git clone https://salsa.debian.org/debian/ppp.git debian

OpenWrt (individual patches in package/network/services/ppp/patches/ ):
git clone https://git.openwrt.org/openwrt/openwrt.git openwrt

Fedora:
git clone https://src.fedoraproject.org/rpms/ppp.git fedora

[2020-07-12 23:33] paulusmack commented on #111
Thanks for the references, that is helpful.

While there are some patches in those repos that I can (and will) apply, most of the patches in those distro packages are generally not up to the standard that I want:

- They usually don't have any authorship information or Signed-off-by line

- They usually don't have any description at all explaining what is being fixed or why this is a good change t

[2020-07-13 00:36] xosevp commented on #111
@bootc
@yarda
@nbd168

Added current maintainers to the thread: Chris Boot(debian), Jaroslav Škarvada(fedora) and Felix Fietkau(openwrt)

[2020-07-13 08:27] kloczek commented on #111
First it would be good to make new release ASAP with what is already commuted.
Better do some progress in some more frequent but smaller steps :)

Problem is so far maintainer is not responding (hopefully he is just only busy :) )

[2020-07-13 08:40] pali commented on #121
In my opinion this PPP IPv6 link-local address should be set with prefix /128 (one address) as @joakim-tjernlund wrote in the first post.

[2020-07-19 10:49] pali commented on #76
FYI, pull request: https://github.com/paulusmack/ppp/pull/145

[2020-07-31 00:05] Neustradamus commented on #121
@paulusmack: What do you think?

[2020-08-02 20:11] pali commented on #121
Also just to note that pppd assigns for IPv4 also just /32 (=255.255.255.255) netmask (=one address).

[2020-08-05 13:11] dankor opened #158 "MS-CHAPv2 Success packet is badly formed"
This is the followup to https://github.com/nm-l2tp/NetworkManager-l2tp/issues/144

pppd doesn't handle my VPN correctly here: https://github.com/paulusmack/ppp/blob/master/pppd/chap_ms.c#L426
`error("**** Unexpected packet data = \"%s\"", (char *)msg);`
returns
`****  Unexpected packet data = "M=Success. Logging you in..."`
Replacing
`return 0; `
with
`return 1; `
does the trick, but I imagine we

[2020-08-05 13:39] dankor commented on #158
https://github.com/paulusmack/ppp/pull/159

[2020-08-07 00:44] #76 closed

[2020-08-07 06:43] dankor commented on #158
https://github.com/paulusmack/ppp/pull/156

[2020-08-07 06:43] #158 closed

[2020-08-07 07:58] pali commented on #121
I created PR to set IPv6 prefix to /128: https://github.com/paulusmack/ppp/pull/162

[2020-08-07 11:28] raminfp opened #163 "[ppp] sys-solaris: Overflow in the sockaddr struct"
Hi @paulusmack

In the function `get_hw_addr_dlpi - obtain the hardware address using DLPI`,
There is bug buffer overflow when pass `adrlen = reply.prim.info_ack.dl_addr_length;`   if greater is 14,
We have overflow in `memcpy(hwaddr->sa_data, adrp, adrlen);` because length buffer `hwaddr->sa_data` is 14,

[code]

https://github.com/paulusmack/ppp/blob/master/pppd/sys-solaris.c#L2354

[code]

Than

[2020-08-07 14:45] Neustradamus commented on #121
@pali: Thanks for your PR :)

@paulusmack: I ask you again ^^
What do you think?

[2020-08-07 14:46] Neustradamus commented on #121
@pali: Thanks for your PR :)

@paulusmack: I ask you again ^^
What do you think?

[2020-08-26 02:56] Litreily commented on #119
we catch the same issue with V2.4.8 pppd on openwrt device.
[code]
Btw, this issue only happened after upgrade pppd from 2.4.7 to 2.4.8, not found the root cause as for now.

[2020-09-01 20:01] micron10 opened #166 "PPPd Bug with kernel 5.8.5 : task pppd:6009 blocked for more than 122 seconds"
HI PPPd team

We detect bug in kernel with pppd server
When disconnect and connect 1000+ users after many time kernel have lock  please see debug log :

Aug 30 05:34:55 10.20.22.1 [139221.203949][  T817] INFO: task pppd:6009 blocked for more than 122 seconds.
Aug 30 05:34:55 10.20.22.1 [139221.231206][  T817]       Tainted: G           O      5.8.5 #1
Aug 30 05:34:55 10.20.22.1 [139221.257538][  T

[2020-09-04 04:42] #121 closed

[2020-09-04 05:37] paulusmack commented on #163
There does seem to be a potential buffer overflow, and more defensive coding would be appropriate.

How was this found? Just by inspection, or was some incorrect behaviour observed in some circumstance?

Given that the contents of 'reply' are supplied by Solaris kernel software, I don't see any exploitable vulnerability here.

[2020-09-04 05:38] paulusmack commented on #152
Does this have anything to do with pppd?

[2020-09-04 05:41] paulusmack commented on #147
No, because there is no authorship information or sign-off in the patch, nor any description of why the change was made.

[2020-09-04 06:07] raminfp commented on #163
Inspection by code reviewed ,( static fuzzing)

[2020-09-04 06:41] Neustradamus commented on #147
@iddq: Can you contact the PPP Debian team?
It will be nice if the team can create a PR directly here...

https://packages.debian.org/sid/ppp
- Chris Boot (Page QA) : https://qa.debian.org/developer.php?login=bootc%40debian.org
- Marco d'Itri (Page QA) : https://qa.debian.org/developer.php?login=md%40linux.it

[2020-09-04 10:11] paulusmack commented on #142
It does seem reasonable that with the persist option the first pppd instance would continue to try to bring up its lower layer even when it is a multilink master.

[2020-09-11 01:57] jidanni opened #167 "restart systemd-resolved.service drops PPP entries"
This is either a systemd bug
https://github.com/systemd/systemd/issues/17004
or a ppp bug (that ppp cannot deal properly with current systemd.) Still present in ppp-2.4.8 .

[2020-09-11 02:02] jidanni opened #168 "Be sure to add a comment as to who wrote resolv.conf"
/etc/ppp/ip-up.d/0000usepeerdns might write resolv.conf or files that links to.

That is great, but without a comment:
[code]
it just adds to the [mystery](https://unix.stackexchange.com/a/527581/179494) of who is updating that file.

[2020-09-11 04:57] paulusmack commented on #168
That file comes from your distro's packaging of pppd, not this project. File a bug with your distro.

[2020-09-11 04:57] #168 closed

[2020-09-11 05:03] paulusmack commented on #167
It seems like the debian packaging of pppd has not been updated to use whatever the "correct" way to supply new DNS servers to systemd-resolved is. Pppd (this project) writes /etc/ppp/resolv.conf, not /etc/resolv.conf, and it's up to the distro to connect that to whatever it needs to be connected to. You need to poke your distro's ppp package maintainer.

[2020-09-11 05:03] #167 closed

[2020-09-11 07:28] jidanni commented on #168
OK. Made https://bugs.debian.org/970075 .

[2020-09-11 07:31] jidanni commented on #167
OK I told them in https://bugs.debian.org/970076 . Thanks.

[2020-09-18 09:01] thomas-spitz opened #170 "ppp-2.4.8 ip-up script issue"
Hello everyone,
I have upgraded ppp from version 2.4.7 to 2.4.8 and I have the following change in behaviour regarding ip-up script.

**ip-up script example:**
[code]

**With version 2.4.7** , the result is as expected: delete /etc/resolv.conf and create a new /etc/resolv.conf file

**With version 2.4.8**, it doesn't delete /etc/resolv.conf and creates a new resolv.conf file in /etc/ppp/ where ip-

[2020-09-18 13:06] #170 closed

[2020-10-06 04:30] Neustradamus commented on #89
Any news on it?

[2020-10-06 04:31] Neustradamus commented on #131
Any news on it?

[2020-10-21 22:38] nylon0700 opened #173 "INSTROOT not respected/honoured (make INSTROOT=path install)"
No matter what, under linux, INSTROOT is not respected by each relevant makefile.
Even after configure --prefix=.

[ppp-2.4.8.orx.pppol2tp.makefile.linux.patch.gz](https://github.com/paulusmack/ppp/files/5419001/ppp-2.4.8.orx.pppol2tp.makefile.linux.patch.gz)

[2020-11-04 18:27] Neustradamus commented on #131
Victory, it has been merged: https://github.com/paulusmack/ppp/pull/172

@jjkeijser: Thanks a lot for your big contribution in the main PPP code (originally a patch: https://www.nikhef.nl/~janjust/ppp/)
@Sander80, @lo1ol, @enaess: Thanks for your comments
@paulusmack: Thanks for your comments, and merging

The old PR: https://github.com/paulusmack/ppp/pull/151

[2020-11-04 19:47] enaess commented on #131
Wohaa!! Great work everyone 👍🏼

[2020-11-08 21:47] Neustradamus commented on #173
@nylon0700: Thanks, a recall to @paulusmack!

Linked to:
- https://github.com/paulusmack/ppp/pull/54
- https://github.com/paulusmack/ppp/pull/99

[2020-11-08 23:35] Neustradamus commented on #163
@paulusmack: Have you found a solution?

[2020-11-09 00:18] Neustradamus commented on #40
@rogers0: It works correctly now with https://github.com/paulusmack/ppp/pull/77?

[2020-11-09 00:32] Neustradamus commented on #32
Merged: https://github.com/paulusmack/ppp/pull/72

[2020-11-09 00:42] Neustradamus commented on #93
@yarda: Merged here: https://github.com/paulusmack/ppp/commit/3c7b86229f7bd2600d74db14b1fe5b3896be3875

Linked to:
- https://github.com/paulusmack/ppp/pull/96

[2020-11-09 01:11] Neustradamus commented on #166
@micron10: Have you tested with more recent Linux Kernel?
5.8.x is EOL:
- https://www.kernel.org/

Currently:
- mainline: 5.10-rc3 (2020-11-09)
- stable: 5.9.6 (2020-11-05)
- stable: 5.8.18 [EOL] (2020-11-01)
- longterm: 5.4.75 (2020-11-05)
- longterm: 4.19.155 (2020-11-05)
- longterm: 4.14.204 (2020-11-05)
- longterm: 4.9.241 (2020-10-29)
- longterm: 4.4.241 (2020-10-29)

[2020-11-09 01:22] Neustradamus commented on #59
@rustylife: Please look your PR, it has not been merged.
Thanks in advance.

[2020-11-09 01:25] Neustradamus commented on #138
The PR is here: https://github.com/paulusmack/ppp/pull/139

[2020-11-09 01:32] Neustradamus commented on #89
@alarig: It is possible to do a PR with your fix?

Informations by @santiagorr and @mysticall.

Thanks in advance.

[2020-11-09 01:40] Neustradamus commented on #126
@jovemars: Have you seen the reply of @paulusmack (30 Dec 2019)?

Please look your email.

[2020-11-09 01:58] Neustradamus commented on #111
@bootc (Debian), @yarda (Fedora), @nbd168 (OpenWrt), @dmbaturin (VyOS) and others: Guys, can you create a PR with your patches?

It will be nice to have directly in the next build?

Thanks in advance.

[2020-11-09 02:06] dmbaturin commented on #111
@Neustradamus #101 is the only remaining significant difference between our package and the upstream.

[2020-11-09 03:00] Neustradamus commented on #111
@dmbaturin: :)

[2020-11-09 04:02] Neustradamus commented on #81
@sparse91: Your problem has been solved?
Go here: https://github.com/quozl/pptp

[2020-11-09 04:02] Neustradamus commented on #81
@sparse91: Your problem has been solved?

[2020-11-09 04:40] Neustradamus commented on #115
@paulusmack: Since 2001...
- https://www.google.fr/search?q=replacedefaultroute+ppp
- https://groups.google.com/g/comp.protocols.ppp/c/doieGA_ebys
- https://comp.protocols.ppp.narkive.com/E29wCWqW/unrecognizecd-option-replacedefaultroute

Ubuntu
- https://bugs.launchpad.net/ubuntu/+source/ppp/+bug/608372

Debian
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=578726
- https://salsa.debian.org/

[2020-11-09 06:44] Neustradamus commented on #111
Dear all,

I think, it is time to speak about all your patches in your OS.
Several OS have same patches...
Talk here, and can you see to create a PR by patch?

Please verify before if it is not already here, and if yes, please comment to inform that it is needed and specify the period used:
- https://github.com/paulusmack/ppp/pulls
- https://github.com/paulusmack/ppp/issues

Note: https://github.c

[2020-11-09 08:48] IlyaIndigo commented on #111
I do not have a desire to do PR for the project, where PRs have been hanging for more than 6 years.
To the author of the ppp, apparently. they are not needed at all.

[2020-11-09 09:08] dmbaturin commented on #111
@Neustradamus For the record, our "ppp-debian" repo is just Debian's upstream with the patch from #101 and some misc security fixes that are already offered in other PRs. Once #101 is merged we'll be able to switch to the upstream version.

@IlyaIndigo This is a rather uncomfortable discussion, but I do believe that if Paul doesn't have time and motivation to maintain the package, he should add so

[2020-11-09 09:57] micron10 commented on #166
its same with new kernel may be is bug in ppp code

[2020-11-09 09:58] pgajdos commented on #111
I have notified Reinhard about this issue.

[2020-11-09 10:04] rma-x commented on #111
That's me, thanks for the notification.

[2020-11-09 13:56] giox069 commented on #115
I don't think you will ever find peope available to patch it for free in solaris, due to its extremly low diffusion and commercial vocation.
So, as I can understand, linux will never have a standardized "usedefaultroute" until we find a solaris developer expert and  someone will pay for this solaris patch.
Or someone will fork this project calling it "ppp for linux".

[2020-11-09 16:04] enaess commented on #138
Okay, let me do this again against the latest tip of master branch.

[2020-11-09 16:47] Neustradamus commented on #73
@jku: The problem is always here in mainline and up-to-date linux kernel?

[2020-11-09 17:03] jku commented on #73
Sorry, I wouldn't know: I've not compiled anything for musl in a few years.

[2020-11-09 17:22] Neustradamus commented on #111
@pgajdos: Thanks a lot :)
@rma-x: I have edited my comment ^^

@IlyaIndigo: I have done several comments here in this repository (some people can dislike me about this) to have mergers from @paulusmack.

I understand you about the long wait...
I was the first to be disappointed but after my various reminders:

Some PRs :
- have been updated after @paulusmack comments and have been merged
- have be

[2020-11-09 17:47] Neustradamus commented on #73
@jku: Ok :/

[2020-11-09 17:54] kanavin commented on #111
I believe for yocto project, upstreaming these patches is most important:
https://github.com/openembedded/openembedded-core/blob/master/meta/recipes-connectivity/ppp/ppp/0001-Fix-build-with-musl.patch
https://github.com/openembedded/openembedded-core/blob/master/meta/recipes-connectivity/ppp/ppp/0001-ppp-Remove-unneeded-include.patch
@kraj can you handle this?

[2020-11-09 18:08] Neustradamus commented on #115
In more of the last reply from @giox069:
- @dojolabs-ci, @razorness, @rogers0, @madhatter0, @sthibaul, @Firefishy: What do you think about the missing "replacedefaultroute" option?

The patch here // @bootc
- https://sources.debian.org/patches/ppp/2.4.8-1+1%7Eexp1/cifdefroute.dif/

@paulusmack, it is really needed.

Thanks in advance.

[2020-11-09 18:12] Neustradamus commented on #138
@enaess: Thanks, a new PR is here:
- https://github.com/paulusmack/ppp/pull/175

@paulusmack: Can you look?

[2020-11-10 10:25] sparse91 commented on #81
It seems work now without problem.
Linux ARCH 5.8.13-arch1-1
pptpclient 1.10.0-2

[2020-12-14 10:02] RICCIARDI-Adrien opened #180 "Add automated build in repo."
Hi,

I might be able to create two GitHub actions that would build a Linux version and a Solaris version of latest PPP on each repo push.
This could help in investigating build problems and speed up __P() macro removal.
I'm planning to use [this action](https://github.com/vmactions/solaris-vm) to add Solaris support (never tried, don't know if it works).

What do you think about this ? Should I st

[2020-12-29 05:42] Neustradamus commented on #131
@yarda: About your comment, it is merged, it is in master.

@jjkeijser: Maybe you can inform people on your website that it has been merged and specify the date...

[2020-12-29 14:59] jjkeijser commented on #131
@Neustradamus: thanks for the tip, done.

On 29/12/20 06:42, Neustradamus wrote:

[2020-12-30 03:54] Neustradamus commented on #138
@enaess, @tisj: Please look @paulusmack comments :)
- https://github.com/paulusmack/ppp/pull/175
- https://github.com/paulusmack/ppp/pull/177

I really hope that your good job will be merged soon to have a new perfect version before Debian 11 freeze, after it, the next will be in 2023...

[2020-12-30 04:04] Neustradamus commented on #131
@jjkeijser : Thanks for the added note :)

Note: Already one year that I have done this ticket, happy birthday:
- Dec 30, 2019

[2020-12-30 04:58] Neustradamus commented on #115
It is possible to create a perfect PR with this patch?

Note: Description / sign-off are important

@bootc: Can you do it?
- cifdefroute.dif (for replacedefaultroute): https://launchpad.net/debian/+source/ppp/+changelog

It will be perfect if this PR can be merged before Debian 11 freeze.
The next Debian will be in 2023.

[2020-12-30 05:10] Neustradamus commented on #111
@ all, have you done one PR by patch?
If you have not, please add... (examples: @rma-x, @kanavin, @kraj, ...)
@yarda: You have not, can you look please?

One example (there are others of course), this patch used in Ubuntu/Debian/Gentoo/OpenSUSE/VyOS/OpenWrt is not here:
- cifdefroute.dif (for replacedefaultroute): https://github.com/paulusmack/ppp/issues/115 // @bootc
cc @giox069, @dojolabs-ci, @r

[2020-12-30 09:29] paulusmack commented on #111
I merged #54 and #101.

[2020-12-30 10:33] Neustradamus commented on #111
Update since my previous comment:
- @alarig has done changes and waits @paulusmack: https://github.com/paulusmack/ppp/pull/176
- @pali has done 2 new PRs and waits @paulusmack: https://github.com/paulusmack/ppp/pull/181 + https://github.com/paulusmack/ppp/pull/182

[2020-12-30 10:38] Neustradamus commented on #163
@carlsonj: It is for you, what do you think?

[2020-12-30 11:07] sthibaul opened #187 "Dial on demand does not trigger whith the "sync"-option"
From https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=75797

“
With the upstream "ppp-2.3.11", dial on demand does not trigger when
the "sync"-option is enabled.
[...]
The reason is that when demand reads the frames from the loopback,
in sync mode, it doesn't recognize any valid frame because these
frames don't start with PPP_FLAG (I don't know why).
”

In Debian we are carrying the attached patc

[2020-12-30 12:53] RICCIARDI-Adrien commented on #51
Hi,
This issue might be closed now that musl support has been merged (see 7555728c50db87ae7d5b8c018c006a14bf374584).

[2020-12-30 12:54] RICCIARDI-Adrien commented on #73
Hi,
This issue might be closed now that musl support has been merged (see 7555728).

[2020-12-30 15:27] Neustradamus commented on #73
@RICCIARDI-Adrien: Have you tested, perfect for your?

[2020-12-30 15:33] Neustradamus commented on #73
@RICCIARDI-Adrien: Have you tested, perfect for you?

[2020-12-30 15:57] Neustradamus commented on #51
@yegorich, @mjeveritt, @Polynomial-C, @RICCIARDI-Adrien: Have you tested, perfect for you?

Linked to:
- https://github.com/paulusmack/ppp/issues/73
- https://github.com/paulusmack/ppp/pull/110
- https://github.com/paulusmack/ppp/commit/7555728c50db87ae7d5b8c018c006a14bf374584

[2020-12-30 15:57] Neustradamus commented on #73
@yegorich, @mjeveritt, @Polynomial-C, @RICCIARDI-Adrien, @jku: Have you tested, perfect for you?

Linked to:
- https://github.com/paulusmack/ppp/issues/51
- https://github.com/paulusmack/ppp/pull/110
- https://github.com/paulusmack/ppp/commit/7555728c50db87ae7d5b8c018c006a14bf374584

[2020-12-30 16:22] Neustradamus commented on #115
@dojolabs-ci, @razorness, @rogers0, @madhatter0, @Firefishy: Good news to all, @sthibaul has done the PR:
- https://github.com/paulusmack/ppp/pull/200

@paulusmack ;)

[2020-12-30 16:32] ryzhovau commented on #111
`ppp` came to @Entware from OpenWrt with no any changes. It's up to OpenWrt guys: we'll sync with them periodically.

Good luck and Happy New Year!

[2020-12-30 16:35] Neustradamus commented on #111
@ryzhovau: Thanks for your precision about code from @OpenWrt to @Entware :)

[2020-12-30 16:40] sthibaul commented on #115
Well, it's not completely "perfect" as in it doesn't implement it on Solaris, but it now has author information and replacedefaultroute is now made a privileged option.

[2020-12-30 16:41] Neustradamus commented on #111
Update since my previous comment:
- About https://github.com/paulusmack/ppp/issues/115 -> @sthibaul has done the PR: https://github.com/paulusmack/ppp/pull/200
- @alarig has done changes and waits @paulusmack: https://github.com/paulusmack/ppp/pull/176
- @pali has done 2 new PRs and waits @paulusmack: https://github.com/paulusmack/ppp/pull/181 + https://github.com/paulusmack/ppp/pull/182
- @sthiba

[2020-12-30 17:24] carlsonj commented on #163
All of the code in this module assumes that the MAC address length is in fact exactly 6. There are even hard-coded constants involved. With the callers of this static function, you'll get bad results if it's less than 6 or greater than 14.

This exactly-6 assumption was true as of Solaris 9. I know the InfiniBand guys ran into all sorts of problems with their overly-long QP addresses during Solari

[2020-12-30 17:54] Polynomial-C commented on #111
Gentoo's ppp package maintainer writing here. We are currently using this [patch tarball](https://dev.gentoo.org/~polynomial-c/ppp-2.4.8-patches-02.tar.xz) with `ppp-2.4.8` which consists of the following patches:
[code]
You can also find most of these patches in my GitHub fork: https://github.com/Polynomial-C/ppp/commits/2.4.8-gentoo
Many of these patches came from the former Gentoo ppp package m

[2020-12-30 18:07] Neustradamus commented on #111
@Polynomial-C: Thanks for your comment :)
Can you create directly a PR by patch (with a description and sign-off) like that @sthibaul has done for Debian?
It is really the best solution to have quick mergers.
Please look before if there is not already in the master code or PR.
@paulusmack will not do commits directly...

[2020-12-30 18:18] xosevp commented on #111
@Neustradamus

Send patches to the open list linux-ppp@vger.kernel.org ( http://vger.kernel.org/vger-lists.html#linux-ppp ) is another option, or used to be.

[2020-12-30 20:51] yarda commented on #111
Sorry for delay, it's on my todo list. I am on vacation, I will try to sort it out during next week.

[2020-12-31 06:35] paulusmack commented on #187
Hmmm, dial-on-demand was never tested with the sync option, and in fact I don't know what devices would use that option.

To be accepted, the patch would need a sign-off and a description that explained the changes in the patch - in particular, what the large lump of code added to demand_rexmit() is doing.

[2020-12-31 06:39] paulusmack commented on #180
Ah, interesting that you can get a Solaris VM to build in. Building for Linux is easy enough but I have no way to do test builds on Solaris (other than by asking @carlsonj to do one).

I think this would be a great idea. If you can set it up to build for more than one Linux environment that would be even better. I'm thinking of different architectures (x86, arm, powerpc) and different environments

[2020-12-31 06:45] paulusmack commented on #166
Strictly this is a kernel bug not a pppd bug, though of course the communities overlap.

This seems like it is difficult and time-consuming to reproduce. How long does it usually take before this happens? The messages above would seem to indicate it takes more than a day. Normally bisection would be a good way to find when this bug was introduced, but without a reliable reproducer it is challengin

[2020-12-31 06:46] paulusmack commented on #147
Fixed by commit 861202529f60.

[2020-12-31 06:46] #147 closed

[2020-12-31 06:47] #152 closed

[2020-12-31 06:52] Neustradamus commented on #111
@paulusmack has done new mergers, thanks.

@ all OS maintainers, please verify if your current patches have not been already added, and please create one PR by patch (with a description and sign-off) , it is really the good moment to do it...

[2020-12-31 06:53] micron10 commented on #166
its not easy to reproduce this normal machin work without problem for months , and in one moment stop. Yes this is Kernel Bug i dontk now how to fix :(

[2020-12-31 06:55] #131 closed

[2020-12-31 07:00] paulusmack commented on #20
Is this still an issue? If so, we would need more information about the environment you're trying to compile this in (e.g. architecture, Linux distribution, etc.). For now I am closing this but we can reopen it if you still need help.

[2020-12-31 07:00] #20 closed

[2020-12-31 07:03] paulusmack commented on #23
Is this still an issue? Those scripts are really just examples of things that people have found useful. If you care to prepare a patch or a pull request (see Submitting-patches.md) I will look at it. For now I am closing this issue since it is very old.

[2020-12-31 07:03] #23 closed

[2020-12-31 07:07] paulusmack commented on #75
Is this still an issue with the current pppd source? If so, please provide step-by-step instructions to replicate the problem.

[2020-12-31 07:08] paulusmack commented on #137
I don't have a suggested way, and providing a suitable hook seems reasonable.

[2020-12-31 07:09] #81 closed

[2020-12-31 07:13] paulusmack commented on #89
#176 is now merged.

[2020-12-31 07:13] #89 closed

[2020-12-31 07:14] paulusmack commented on #125
Is this still an issue with the current pppd source?

[2020-12-31 07:16] #93 closed

[2020-12-31 09:54] sthibaul commented on #111
@Polynomial-C I had a quick look over the gentoo list, I see that:

- 0003-Add-MPLSCP-support.patch seems upstreamable
- 0004-smarter-killaddr.patch seems upstreamable
- 0005-Improve-waiting-for-children-on-exit.patch may need an explanation when it is useful
- 0006-Remove-one-of-the-2-pidfiles-pidfilename-or-linkpidf.patch probably makes sense too
- 0007-Run-etc-ppp-auth-fail-script-if-exists-and

[2020-12-31 09:57] sthibaul commented on #187
Yes, the patch seemed not that clear to me ("I don't know why" is not a good reason :) ), that's why I posted it here as an issue rather than a PR, so people can comment on this whether they need it.

[2020-12-31 11:36] pali commented on #125
I was not able to reproduce it on Linux with my patch #148 but I'm not original reporter.

[2020-12-31 12:32] kanavin commented on #111
I went through yocto's patches, and I believe with the latest master only this one needs to be upstreamed:
https://github.com/paulusmack/ppp/pull/201

I verified that everything else can be either dropped or is non-upstreamable, and built both glibc and musl variants successfully.
@kraj FYI

[2020-12-31 12:36] RICCIARDI-Adrien commented on #180
Great, I'm working on it !

[2020-12-31 16:14] enaess commented on #137
I can get you a patch soon

[2020-12-31 19:05] vapier commented on #111
i didn't author those patches.  our VCS practices have been extremely inconsistent over the years.  git has improved things somewhat, but still some people are bad at it.  these patches came from a tarball that i imported to CVS almost a decade ago, then someone imported them to git and just copied my info.

i'll focus on the patches that don't seem OK/acceptable at face value since it's hard to l

[2020-12-31 21:09] mjeveritt commented on #73
I can't speak to #51 at this stage, but the other two are definitely covered in Gentoo musl's patch [here](https://gitweb.gentoo.org/proj/musl.git/tree/net-dialup/ppp/files/ppp-2.4.7-musl.patch) .

Tangentially I'm helping with #111 so that we can eliminate many of the Gentoo 'glibc'/vanilla patches for ppp, since we were looking to merge musl support into the main ::gentoo repository anyway. This

[2020-12-31 21:10] mjeveritt commented on #51
See https://github.com/paulusmack/ppp/issues/73#issuecomment-753160578

[2020-12-31 21:51] mjeveritt commented on #111
Picking up the mantle on the Gentoo front -

https://github.com/Polynomial-C/ppp/commit/7586e851c762ae5edda93121b96633dec605d25e

https://github.com/Polynomial-C/ppp/commit/1bcc082dd51d41dec0de4ebae47489565f1cca2e

https://github.com/Polynomial-C/ppp/commit/00e48e5c08463f56f85cd99ee2034767d161a184

https://github.com/Polynomial-C/ppp/commit/98228a49f513dde5e0eeacd55f20ebaec9266fa8

https://github.

[2021-01-01 00:38] RICCIARDI-Adrien commented on #180
That was useful, I get a problem with musl build (see https://github.com/RICCIARDI-Adrien/ppp/runs/1631728970?check_suite_focus=true) :
[code]
musl seems to not provide `logwtmp()`. Maybe enabling ppp internal implementation of `logwtmp()` for musl could do the trick, but I did not try this yet.

[2021-01-01 00:58] kaniini commented on #111
In Alpine, we have dropped the patch in #200 actually.  Everything else seems to be security fixes that are already upstream.

[2021-01-01 05:32] Neustradamus commented on #111
Thanks to all for your feedbacks and new PRs.

You can see @paulusmack has done new mergers.

I really request answer from all OS maintainers.
The goal is to have a new release with "your" changes.

Recall, please look if it is not already in upstream and please create one PR by patch.
Please sign-off and add a description before.

Note about Fedora, @msekletar: Maybe you can see for your PPP patc

[2021-01-01 06:00] Neustradamus commented on #83
@Amophis666: The problem is always here?

[2021-01-01 08:59] paulusmack commented on #180
This should be OK now; commit 248c11d375c5 fixes this problem.

[2021-01-01 09:01] paulusmack commented on #173
This should be fixed now. Let me know if not.

[2021-01-01 14:14] RICCIARDI-Adrien commented on #180
I confirm that this problem is fixed, thank you.

[2021-01-01 19:57] enaess opened #210 "EAP-TLS: When failing initialization, sending NAK suggesting itself"
1) The server (Win2K19) responds with EAP-TLS
2) PPPd runs without EAP-TLS configuration, and thus fails initialization
3) Responds with NAK: Use EAP-TLS
4) Server terminates the connection ..

At this point, we'd expect the client to send a NAK with any of the other EAP mechanisms it supports, e.g. EAPT_MSCHAPv2. However, it never gets this far as the server terminates the connection.

Output:
Ja

[2021-01-01 21:56] enaess commented on #138
@Neustradamus @paulusmack

Added new pull request that contains all the changes to add EAP-MSCHAPv2.

Please have a look at #211

[2021-01-01 22:47] enaess commented on #137
@paulusmack I am looking through this, and the simplest would be to move the notify(auth_up_notifier, 0) on the outside of the if-block protected by the go->neg_eap || go->neg_chap || go->neg_upap in the network_phase() function, see auth.c. This would make it trigger for both local and peer completed authentication. Clients using SSTP typically specify "noauth" as the protocol itself performs mut

[2021-01-02 00:49] Neustradamus commented on #210
@enaess: Thanks but please edit your issue and add "Insert code" feature for your fix :)
Hope a quick comeback from @jjkeijser.

[2021-01-02 03:21] paulusmack commented on #180
I merged #208.

How do I set up github to run the tests on all pull requests?

Also, I see that buildroot modifies various things in the PPP package before building, and you remove some of the code that does those modifications. Are we vulnerable to getting broken by upstream buildroot changes?

[2021-01-02 03:42] enaess commented on #210
@Neustradamus - I added this "fix" as a part of #211 pull request. The EAP code is littered with eap_send_nak() suggesting EAP_SRP, but it may not be enabled / supported. The handling of which protocol to nak with needs an improvement. Seems like a more exhaustive fix is necessary.

[2021-01-02 04:05] Neustradamus commented on #210
@enaess: Ok but please edit your issue here, it is deformed, difficult to read.

Look the <> "Insert code" function.

[2021-01-02 04:21] Neustradamus commented on #115
Good news: @paulusmack has merged https://github.com/paulusmack/ppp/pull/200.

Thanks to @sthibaul!

cc @giox069, @dojolabs-ci, @razorness, @rogers0, @madhatter0, @Firefishy

[2021-01-02 06:23] Neustradamus commented on #111
Happy New Year to all!

@sthibaul: When is the deadline to have a new PPP version into Debian 11?

@yarda, @msekletar: Can you look what it is needed for Fedora and create one PR by patch?
When is the deadline to have a new PPP version into Fedora 34?

@kanavin: Have you received messages from @kraj?
No new patch needed for OpenEmbedded / Yocto?

@Polynomial-C, @mjeveritt, @kloczek: Can you look w

[2021-01-02 08:28] bootc commented on #111
Happy New Year!

The short version is that we have less than a week to get a new upstream version into Debian.

A new version requires a transition, and the transition freeze starts [2021-01-12](https://release.debian.org/bullseye/freeze_policy.html). We need to get clearance from the release team for a transition beforehand, and the new version will need to have migrated to testing/bullseye befor

[2021-01-02 11:37] RICCIARDI-Adrien commented on #180
Hi,

I made another pull request that enables tests for pull requests (#214).

I selected a stable version of Buildroot, so it won't change anymore and it should not be broken by upstream changes. Moreover, when a new PPP version is released, I can help upstreaming it in Buildroot, so we can later get rid of the changes made by the CI.

Next move it to try Solaris build !

[2021-01-02 12:02] kanavin commented on #111
I believe from yocto perspective everything is done now.

[2021-01-02 14:03] rma-x commented on #111
On Sat, 2 Jan 2021 at 07:23, Neustradamus wrote:

Thanks, same to you!

I plan to look into this on Monday when I am back from vacation.

cu
Reinhard

[2021-01-02 15:16] enaess commented on #137
This code right here

[code]

[2021-01-03 00:21] RICCIARDI-Adrien commented on #180
Solaris build is near to be ready, it uses Solaris 11.4 (SunOS solaris 5.11 11.4.0.15.0) and gcc 7.3.0.
Latest build (https://github.com/RICCIARDI-Adrien/ppp/runs/1637972927?check_suite_focus=true) allowed to spot the following error :
[code]
I think `maxlen` should be an `int`, but I have not checked in the code.

[2021-01-03 00:21] enaess commented on #210
Looking into RFC3748 (EAP), section 5.3 describes the NAK message and it can hold one or more alternative authentication methods that the peer supports. Should have some kind of state mechanism that accounts for which ones we have tried, and then remove them as they fail, no?

[2021-01-03 00:45] carlsonj commented on #180
I sent a patch for that.

<carlsonj@workingcode.com>

[2021-01-03 00:49] carlsonj commented on #180
On 1/2/21 7:21 PM, Adrien RICCIARDI wrote:

Here's the patch I sent.

--
James Carlson         42.703N 71.076W         <carlsonj@workingcode.com>

[2021-01-03 01:36] Neustradamus commented on #111
NixOS: @7c6f434c, @MarcWeber, @urkud, @edolstra, @coroa, @bluescreen303, @jwiegley, @falsifian, @edwtjo, @vcunat, @ttuegel, @NeQuissimus, @fpletz, @grahamc, @dtzWill, @pbogdan, @obadz, @markuskowa, @teto, @volth, @Mic92, @lheckemann, @lblasc, @andir, @OmnipotentEntity:
- https://github.com/NixOS/nixpkgs/tree/master/pkgs/tools/networking/ppp
- https://github.com/NixOS/nixpkgs-channels/tree/nixos-un

[2021-01-03 05:19] Neustradamus commented on #111
OpenMandriva: @berolinux, @fedya, @tpgxyz, @berolindev, @proyvind, @kyndek, @abf-repo-bot, @AngryPenguinPL, @avokhmin, @Conan-Kudo, @KAMiKAZOW: Can you look what it is needed for OpenMandriva and create one PR by patch?
- https://github.com/OpenMandrivaAssociation/ppp

Rosa: @fedya, @andrewlukoshko: Can you look what it is needed for Rosa and create one PR by patch?
- https://abf.io/import/ppp
---

[2021-01-03 05:23] Conan-Kudo commented on #111
Cc @yarda (Fedora)

[2021-01-03 10:00] andir commented on #111
On 17:37 02.01.21, Neustradamus wrote:

Thank you for the ping. In NixOS we've a few patches for pppd that
mostly relate to how we package things (no FHS, no setuid, …) and one
patch that fixes compiling it with musl (while still allowing to compile
it with glibc). Neither of these seem to be of great quality that I'd
personally feel comfortable submitting upstream.

The package hasn't really been

[2021-01-03 15:03] RICCIARDI-Adrien commented on #180
Hi @carlsonj,
The attached patch seems to be missing. Did you send it directly to @paulusmack ?
You might do a pull request if you want, this may be simpler for @paulusmack to merge.

[2021-01-03 17:30] Neustradamus commented on #180
@carlsonj: You need to connect on GitHub and publish your patch here with "Insert code" feature.

[2021-01-03 17:31] carlsonj commented on #180
On 1/3/21 10:03 AM, Adrien RICCIARDI wrote:

I just checked.  It was on the message I sent.  Here it is again.

--
James Carlson         42.703N 71.076W         <carlsonj@workingcode.com>

From f86e254bdb4d529aae293cbe3e04ad8f1d52b0d4 Mon Sep 17 00:00:00 2001
From: James Carlson <carlsonj@workingcode.com>
Date: Wed, 30 Dec 2020 09:55:12 -0500
Subject: [PATCH] Repair compilation issues on Solaris:

[2021-01-03 17:41] Neustradamus commented on #180
Like I have not commented here before, I had not your previous comment/email, @RICCIARDI-Adrien has maybe in mailbox, I am not sure.
But in the GitHub interface, there is always a lot of data shortened from email.
Now, there is in your last comment/email, if we click on "…" (there was not not before).
Thanks :)

[2021-01-03 20:53] RICCIARDI-Adrien commented on #180
Thank you @carlsonj for sending the patch another time.
I didn't receive any email or notification from GitHub, maybe something went wrong in their infrastructure.

[2021-01-03 21:01] Neustradamus commented on #180
@RICCIARDI-Adrien: Look settings in https://github.com/settings/profile -> https://github.com/settings/notifications

[2021-01-03 21:11] RICCIARDI-Adrien commented on #180
@Neustradamus : Thank you, I double-checked and everything is fine. Don't know what happened...

[2021-01-03 21:15] Neustradamus commented on #180
@RICCIARDI-Adrien: No problem, in our case, the most important part is:
- Participating | Notifications for the conversations you are participating in, or if someone cites you with an @.

[2021-01-03 23:30] paulusmack commented on #210
I'd like to hear @carlsonj 's opinion...

[2021-01-03 23:32] paulusmack commented on #180
This all looks great now. I think this issue can be closed - any objections?

[2021-01-04 01:07] paulusmack commented on #180
I notice that the checks seem to take quite a long time. It looks like we are doing an entire build of buildroot, including building a kernel and the C library and everything, inside a qemu emulation of each architecture. This is OK for now but in future perhaps we could look at slimming down the buildroot config so as not to build any more than we really need to.

[2021-01-04 01:20] #173 closed

[2021-01-04 01:20] #125 closed

[2021-01-04 01:21] #73 closed

[2021-01-04 01:22] #51 closed

[2021-01-04 01:22] #75 closed

[2021-01-04 01:31] paulusmack commented on #111
I don't understand why unprivileged users can't do pppd --version. That is parsed and the version is printed before the check for root privilege.

As for pppd itself, you could add -D_PATH_VARRUN=/run to CFLAGS in pppd/Makefile.linux, although in fact _PATH_VARRUN defaults to /etc/ppp not /var/run anyway. I notice there are some hard-coded /var/run paths in the radius plugin which should be fixed.

[2021-01-04 02:08] carlsonj commented on #210
Withdrawing ones that've failed sounds fair to me. All that's necessarily required, though, is that you nak with one or more methods that you (locally) expect may work, and then give up and disconnect when too many naks occur. It's not expected that a large number of alternatives will be viable and that we'll be sequencing through them. That'd be a bad configuration.

[2021-01-04 02:27] enaess commented on #210
I can see if I can give it a whirl for the client side, and if necessary remove the options we have tried. Not sure about the server side.

[2021-01-04 02:29] enaess commented on #137
@paulusmack?

[2021-01-04 03:28] paulusmack commented on #87
Fixed by a72f809b1dfe.

[2021-01-04 03:28] #87 closed

[2021-01-04 03:30] paulusmack commented on #111
I updated README and patchlevel.h in preparation for releasing 2.4.9. The EAP-MSCHAP stuff is in and I don't know of anything remaining which absolutely must be included. I am aiming to release 2.4.9 tomorrow (5 Jan 2021 +1100).

[2021-01-04 03:59] enaess commented on #111
@paulusmack

I like a fix for issue #137 and maybe a fix for issue #210.

For issue #137 I have a proposed solution. For #210, I think a minimum solution could work.

Also, for the EAP-MSCHAPV2 server side issue, I'd like a few fixups from @tisj, i.e. reuse the code from chap-new.c instead of duplicating it into eap.c. Right now, there is a mix in eap.c

[2021-01-04 04:10] paulusmack commented on #137
Given that nothing apparently actually uses auth_up_notifier yet, what you suggest seems fine.

[2021-01-04 04:12] paulusmack commented on #111
You mean, moving the notify(auth_up_notifier, 0) call?

What does the minimum solution to #210 look like? What would be the impact on users if we don't fix it?

If it is correct as-is (though not as clean as possible), I'd rather get the release out and fix it after that.

[2021-01-04 04:37] enaess commented on #111
@paulusmack at the very least fixing #137 by moving the auth notifier outside of that loop. I could have that fixed ASAP

For #210, I wanted to try fixing this by sending a nak with the supported auth methods eap supports, i.e. change the function call by removing the parameter, but fixing up the packet to include available. If this is not possible, fix this with a bit-map and parameter will disab

[2021-01-04 05:02] enaess commented on #111
@paulusmack Send you a pull request for #137

[2021-01-04 05:30] enaess commented on #210
Looks like the Microsoft server will only take the first method suggested and not selectively pick one that it thinks will work. Consider the following patch, the server will reject the nak with suggested type EAPT_CHAPMD5 and terminate the connection. Somehow ranking these may be necessary.

[code]

[2021-01-04 05:54] Neustradamus commented on #111
@paulusmack: About PRs which can be included into the version (except one):
- https://github.com/paulusmack/ppp/issues/111#issuecomment-752329840

[2021-01-04 06:49] RICCIARDI-Adrien commented on #180
Yes, this issue can be closed. If you agree, I would like to add one more CI test : a simple Ubuntu build.
Yes, checks are quite slow... OK, I will try to trim Buildroot configurations later to save some time.

[2021-01-04 06:57] #180 closed

[2021-01-04 09:21] #115 closed

[2021-01-04 09:22] #138 closed

[2021-01-04 09:28] paulusmack commented on #137
Merged #216

[2021-01-04 09:28] #137 closed

[2021-01-04 09:29] paulusmack commented on #163
This doesn't seem like it is any more than a theoretical problem, really.

[2021-01-04 12:00] jow- commented on #111
From the OpenWrt side, we'd like to see the following changes upstreamed:

 - https://github.com/openwrt/openwrt/blob/master/package/network/services/ppp/patches/208-fix_status_code.patch (keep error status on modem hangup)
 - https://github.com/openwrt/openwrt/blob/master/package/network/services/ppp/patches/340-populate_default_gateway.patch (set peer address as gateway in default route)
 - http

[2021-01-04 16:45] enaess commented on #210
@paulusmack - I gave up on a more elaborate solution, and fixed the one place we were still using it in error. I created pull request #217 to fix that error.

[2021-01-04 17:04] jjkeijser commented on #210
Hi Eivind,

sorry for the delay , but I just started working again (happy New Year,
everybody!) and I do have other responsibilities next to this ;)

As for your report/problem, I did read it and have thought about it a
little. A proper solution will require more work and coordination, but I
propose roughly the following:

- we set an order in which to try/offer EAP modes, e.g. EAP-TLS ->
EAP-MSCH

[2021-01-04 17:30] enaess commented on #210
Hi Jan Just,

Happy New Year to you too! And yes, I am actually out on paternity leave until mid-March which means the child is my primary responsibility.

I think your suggestion is a reasonable one. However, as I found out, we can't reply with a NAK with multiple type and have the server select one that the client support. This means we need to "rank" the ones we want to try.

To make it more co

[2021-01-04 18:26] Neustradamus commented on #111
@jow-: Thanks for your answer, can you create one PR by patch? :)
About the last one, @paulusmack: What do you think? Is there a compromise?

[2021-01-04 22:43] paulusmack commented on #210
I merged #217, but I agree a more comprehensive fix is needed. I don't want to hold the release for the more comprehensive fix though.

[2021-01-04 22:44] enaess commented on #210
Yes, acknowledged!

[2021-01-04 22:56] paulusmack commented on #111
Seems reasonable, does this patch have authorship information?

This was changed deliberately to make a device route rather than a gateway route back in 2005, at least in part because sometimes we do not have an IP address for the peer. I would want to consult some networking gurus about this. It does sound a bit like the "downstream programs" that assume that a route must have a gateway address a

[2021-01-04 23:34] pali commented on #111
I checked current ppp ipv4+ipv6 address/route code and I think it is correct (after applying my ipv6 peer patch which is now merged). ppp is point-to-point network which does not have a ip route/gateway and even it does not have ARP nor IPv6 ND therefore routing based on ethernet MAC addresses does not work at all.

Seems that above patch is either relict from past (and is not needed at all with c

[2021-01-04 23:40] paulusmack commented on #111
2.4.9 is out.

[2021-01-04 23:56] Neustradamus commented on #119
@REq888, @Litreily: There is now a 2.4.9, can you test it?

[2021-01-05 00:01] kloczek commented on #111
If may I about two things:
- make more frquent releases with less patches :P
- on next release change tagging convention from `ppp-<version>` to just `<version>` because github/gitlab automatically adds repo name to base directory name in autogenearted tar ball https://github.com/paulusmack/ppp//archive/ppp-2.4.9.tar.gz has inside base directory `ppp-ppp-2.4.9/` (sometimes not all patches from git

[2021-01-05 00:27] Neustradamus commented on #111
After several years, we can send thanks to @paulusmack and all other contributors with this real new 2.4.9 version!

@kloczek: Good remarks! :)

@paulusmack: Can you easily edit all tags to be better with only the version like name?

PS: It is not because the 2.4.9 is here that it is not needed to create a PR with patch from your OS.

[2021-01-05 00:31] paulusmack commented on #111
I can create a tag called 2.4.9 easily enough, if that helps.

[2021-01-05 00:38] Neustradamus commented on #111
@paulusmack, please look your mailbox, you can edit the tag directly :)

[2021-01-05 00:44] kloczek commented on #111
Some additional though is crawling onto my forehead .. :P
ppp is kind of software which is used on many different OS platforms.
I think that it would be good to move current build framework from custom scripts/makefiles to meson or even cmake (.. which I hate but even that could be better on configuring source tree before compile) .. proper detection build env end  necessary libraries using pkgcon

[2021-01-05 01:02] paulusmack commented on #111
I am not familiar with meson but I am happy to take a look at it. I don't want to use cmake or autoconf/automake.

[2021-01-05 01:14] paulusmack commented on #111
Is meson available for Solaris?

[2021-01-05 02:01] kloczek commented on #111
It is on OmniOS and AFAIK current Oracle Soalris OSS userspace some packages are already using meson.
Below is on OmniOS.
[code]

[2021-01-05 15:36] enaess commented on #111
@paulusmack - what is your opposition to GNU autoconf/automake? The pppd project would be a small task for autoconf/automake as pppd has only a few dependencies.

[2021-01-05 17:00] jjkeijser commented on #111
Hi Paul,

On 05/01/21 00:41, Paul Mackerras wrote:

excellent news and thanks for all your hard work!

However, I hate to rain on your parade, but it does not compile on
CentOS 7 (whereas ppp 2.4.8 did):

cc -O2 -g -pipe -DHAVE_PATHS_H -DIPX_CHANGE -DHAVE_MMAP -pipe
-I../include '-DDESTDIR="/usr/local"' -DCHAPMS=1 -DMPPE=1 -DUSE_EAPTLS=1
-DHAS_SHADOW -DHAVE_CRYPT_H=1 -DHAVE_LOGWTMP=1 -I/usr/includ

[2021-01-05 17:11] pali commented on #111
Could you try to put this block
https://github.com/paulusmack/ppp/blob/4fb319056f168bb8379865b91b4fd3e1ada73f1e/pppd/sys-linux.c#L2846-L2848
into
[code]
guards?

[2021-01-05 21:16] paulusmack opened #218 "Logic error in chap_ms.c"
From David Binderman:

chap_ms.c:956:44: warning: logical ‘or’ of collectively exhaustive tests is always true [-Wlogical-op]

Source code is

   if (policy != MPPE_ENC_POL_ENC_ALLOWED ||
        policy != MPPE_ENC_POL_ENC_REQUIRED)
        return;

Maybe better code:

   if (policy != MPPE_ENC_POL_ENC_ALLOWED &&
        policy != MPPE_ENC_POL_ENC_REQUIRED)
        return;

[2021-01-05 21:58] yarda commented on #111
I built 2.4.9 for Fedora Rawhide, so it will be available in F34.
The F34 schedule is available here: https://fedorapeople.org/groups/schedule/f-34/f-34-key-tasks.html
It seems ppp keeps backward compatibility, so if there will be more releases I think I could rebase it even after the 'branching date'.

[2021-01-05 22:06] yarda opened #219 "pppoe-discovery hardcodes eth0"
I think it should take the first available interface by default.
[code]

[2021-01-06 06:01] mjeveritt commented on #111
FlameEyes has a good tutorial on autotools at https://autotools.io/

[2021-01-06 06:47] Neustradamus commented on #111
@yarda: Thanks :)
You have not the @jjkeijser problem from CentOS 7?
- https://github.com/paulusmack/ppp/issues/111#issuecomment-754764030
If yes, have you looked the @pali reply: https://github.com/paulusmack/ppp/issues/111#issuecomment-754770770
Can you look?

I think that @paulusmack waits comeback from users and OS maintainers, mostly Debian team before the Debian 11 freeze.

It is really stra

[2021-01-06 06:50] Neustradamus commented on #111
Other OS which have PPP need an update:

Arch: @felixonmars, @foutrelis, @antonio-rojas, @jelly
- https://github.com/archlinux/svntogit-packages/commits/packages/ppp/trunk
- https://archlinux.org/packages/?q=ppp
- https://archlinux.org/packages/core/x86_64/ppp/
- https://git.archlinux.org/svntogit/packages.git/tree/trunk?h=packages/ppp
- https://git.archlinux.org/svntogit/packages.git/tree/trunk/P

[2021-01-06 08:20] kanavin commented on #111
As one of YP reference distro maintainers, I am seeing non-GNU software replacing autotools for meson in droves, including high profile projects like mesa and gstreamer. This should be reason enough to avoid autotools; I personally find meson based projects easier to integrate and support.

[2021-01-06 09:06] yarda commented on #111
I was building only for Fedora Rawhide (f34) and I didn't spot this problem there.

[2021-01-06 12:58] vincele commented on #111
Guix update: https://issues.guix.gnu.org/45689

[2021-01-06 13:06] vincele commented on #19
maybe `pkg-config` as in https://github.com/paulusmack/ppp/pull/47 could be used for that purpose.

[2021-01-06 14:08] jjkeijser commented on #111
Hi pali,

On 05/01/21 18:11, pali wrote:

it now builds and links ; let me test the binary to see if it (still)
works with IPv6.

[2021-01-06 14:13] pali commented on #111
@jjkeijser: Can you additionally test change which does not guard this code, but rather adds missing defines?
[code]
Setting SOL_NETLINK/NETLINK_CAP_ACK to 1 just inform kernel that application is not interested in content of error message, that errno code is enough. This SOL_NETLINK/NETLINK_CAP_ACK is supported since kernel 4.2 and prior this kernel version it is unsupported (= always disabled =

[2021-01-07 14:22] rpurdie opened #233 "make version making ppp non-reproducible"
Hi,

I've noticed that our builds on some systems are giving different results and the issue seems to depend on the version of bash used.

The issue is this code in pppd/Makefile.linux:

ifeq ($(shell echo '\\#include <utmp.h>' | $(CC) -E - 2>/dev/null | grep -q logwtmp && echo yes),yes)

on one system, it is injecting literally \\#include instead of #include which then means USE_LIBUTIL isn't set

[2021-01-07 15:29] rpurdie commented on #233
Best option I can find so far is to push the quoting from shell over to make with something like:

UTMPHEADER = "\\#include <utmp.h>"
ifeq ($(shell echo $(UTMPHEADER) | $(CC) -E - | grep -q logwtmp && echo yes),yes)

which then seems to work with both bash versions.

[2021-01-07 17:29] rpurdie commented on #233
Further info, its not bash, its make that is causing the issue:

http://git.savannah.gnu.org/cgit/make.git/commit/?id=c6966b323811c37acedff05b576b907b06aea5f4

Basically comments in shell functions are escaped differently depending upon the make version. Fun. I'd suggest my change above is a reasonable workaround and needs to be applied for the crypt.h test too.

[2021-01-07 17:36] rpurdie commented on #233
https://github.com/paulusmack/ppp/pull/234

[2021-01-08 01:42] paulusmack commented on #233
Merged #234

[2021-01-08 01:42] #233 closed

[2021-01-08 17:09] jjkeijser commented on #111
the 2.4.9 code works with the #ifdef and both sides are assigned an IPv6
ip (client Fedora 33, server CentOS 7) but the sides cannot ping each
other over IPv6....
I 've tried both "ipv6cp-use-persistent" and "ipv6cp-use-ipaddr"

What's a good setup to test IPv6 via PPPoverSSH ?

Once I get that working I will try it with the #defines ...

||
On 06/01/21 15:14, pali wrote:

[2021-01-08 17:17] pali commented on #111
And what is the error? Can you provide setup output and error from ping utility?

Beware that when pinging ipv6 link local address you _have to_ specify also interface over which want to send packets.

[2021-01-08 18:03] joakim-tjernlund commented on #111
I have a vague memory that /128 addresses did not work when we tested this some time ago. I didn't look into why though.

[2021-01-08 18:13] pali commented on #111
Now I have tested version from git and IPv6 link local address over ppp can be pinged without an issue. So I'm not exactly sure where can be the issue until I see some error message or logs.

[2021-01-08 18:53] pali commented on #111
Now I have done another test between another two machines connection with ppp over ssh and IPv6 traffic between them is working too. ping is also pinging link local address of other end without any issue (just as always interface identifier needs to be specified as part of ipv6 link local address). Also I was able to establish ssh connection with IPv6 link local address over this ppp session tunne

[2021-01-08 19:33] pali commented on #111
Also there is a new option `defaultroute6` for IPv6 which should not be required at all and my cause problems, see my comment and explanation about it in pull request where it was added: https://github.com/paulusmack/ppp/pull/77#issuecomment-756952647

[2021-01-08 19:44] pali commented on #111
@jjkeijser: I used following command for testing PPP connection between local machine with _localuser_ and remote machine _host_ with _remoteuser_. Both _localuser_ on local machine and _remoteuser_ on _host_ have record in sudoers that they can call sudo pppd without password. For ssh connection I used ssh-agent therefore I had to set SSH_AUTH_SOCK. And important note, pppd needs to connect to te

[2021-01-08 20:50] hishamhm commented on #111
@Neustradamus - GoboLinux recipe updated to 2.4.9, thanks for the ping

[2021-01-09 03:12] Neustradamus commented on #111
Thanks for the 2.4.9 update to:

@bootc (Debian):
- https://salsa.debian.org/debian/ppp

@glensc (PLD Linux):
- https://github.com/pld-linux/ppp/tree/master
- https://git.pld-linux.org/?p=packages/ppp.git;a=summary

@vincele (Guix) // in progress:
- https://issues.guix.gnu.org/45689
- https://git.savannah.gnu.org/cgit/guix.git/log/gnu/packages/samba.scm?qt=grep&q=ppp
- https://github.com/guix-mirr

[2021-01-09 21:50] Neustradamus commented on #180
@RICCIARDI-Adrien: Good job about compilation tests!
Have you looked to reduce the process?
To have more quick tests.

[2021-01-10 02:34] Neustradamus commented on #111
Buildroot: @ffontaine, @jacmet, @cpackham, @rc-matthew-l-weber, @tpetazzoni
- https://github.com/buildroot/buildroot/tree/master/package/pppd

-----------

PLD Linux: @qboosh, @Jajcus, @glensc
Can you create a PR for your used patch?
- https://github.com/pld-linux/ppp/blob/master/ppp-2.4.3-mppe-mppc-1.1.patch

It is in OpenWrt too: @jow-, @dedeckeh, @sch-m, @nbd168:
- https://github.com/openwrt/op

[2021-01-10 03:10] kloczek commented on #111
As 2.4.9 is now released I think that it would be good to close this ticket and strat discussion about next (2.4.10?) under new one.

[2021-01-10 07:21] MingcongBai commented on #111
@Neustradamus I have just pushed my build configuration draft in our [ppp-2.4.9 test branch](https://github.com/AOSC-Dev/aosc-os-abbs/tree/ppp-2.4.9). Build and runtime testing pending.

[2021-01-10 07:49] Neustradamus commented on #111
@MingcongBai: Thanks for this update in AOSC :)

Can you look for your patches?

There are already some merged PRs since 2.4.9 and some not merged:
- https://github.com/paulusmack/ppp/pulls

If there are already not merged patches that you use, do not hesitate to say that you use in AOSC.

And please publish others with a sign-off and a description.

The same goal, to have a better next version wi

[2021-01-10 08:01] MingcongBai commented on #111
We are actually using patches from Fedora (as we used to use them for build fixes). It might be better if you contact them instead.

[2021-01-10 08:06] Neustradamus commented on #111
@MingcongBai: @yarda (Fedora) has done PRs, it is in progress with @paulusmack :)
- https://github.com/paulusmack/ppp/pulls?q=is%3Apr+author%3Ayarda+sort%3Aupdated-desc

[2021-01-10 08:14] MingcongBai commented on #111
Sounds great!

[2021-01-10 10:32] ffontaine opened #241 "Build failure with kernel < 4.3"
`NETLINK_CAP_ACK` is used since commit c3af52231184ade3cf728ec60c9de9e87c2622ad however `NETLINK_CAP_ACK` is only available since kernel 4.3 and https://github.com/torvalds/linux/commit/0a6a3a23ea6efde079a5b77688541a98bf202721. Could you fix this issue or should we add a dependency on kernel being above 4.3 in buildroot?

[2021-01-10 16:54] pali commented on #241
I'm planning to fix it, just I'm waiting for testing that proposed fix in https://github.com/paulusmack/ppp/issues/111#issuecomment-755321787 is really working. If you can test it and verify that IPv6 traffic is working fine, it would be great!

I have already sent patch for netlink.7 manpage:
https://lore.kernel.org/linux-man/20210110140027.14937-1-pali@kernel.org/T/#u

[2021-01-11 12:40] fedya opened #242 "openssl3.0.0 and ppp"
can't build 2.4.9 ppp with latest openssl 3.0.0
[code]

[2021-01-12 14:02] Neustradamus commented on #180
@RICCIARDI-Adrien: When there is a new commit in a PR, the test is launched a new time?

[2021-01-12 14:15] RICCIARDI-Adrien commented on #180
Hi @Neustradamus,
No, I didn't had the time yet to improve build times...
Yes, tests are launched every time there is a pull on master or any pull request branch.

[2021-01-12 15:55] Neustradamus commented on #180
Thanks, it is good, the @yarda PR test is relaunched after the force-pushed ^^

[2021-01-12 16:01] Neustradamus commented on #242
@jjkeijser, @enaess, @tisj: About OpenSSL 3.0 development branch...

[2021-01-12 16:30] alexvelkov1 opened #243 "IPv6 interface identifier"
Hi,

I have a question regarding the IPv6 interface identifiers assigned by PPP. The same configuration results in different IDs assigned in different versions of PPP.

My setup: connect two peers with the following configuration:

Peer1 (pppoe-server-options):
`...
ipv6 ::1,::2
`

Peer2 (pppoe-server-options):
`...
+ipv6
`
With the configuration above I expect that Peer1 gets the IP fe80::1 and '

[2021-01-12 16:31] alexvelkov1 opened #244 "IPv6 interface identifiers"
Hi,

I have a question regarding the IPv6 interface identifiers assigned by PPP. The same configuration results in different IDs assigned in different versions of PPP.

My setup: connect two peers with the following configuration:

Peer1 (pppoe-server-options):
`...
ipv6 ::1,::2
`

Peer2 (pppoe-server-options):
`...
+ipv6
`
With the configuration above I expect that Peer1 gets the IP fe80::1 and '

[2021-01-12 16:32] alexvelkov1 commented on #244
duplicate

[2021-01-12 16:32] #244 closed

[2021-01-12 23:42] pali commented on #243
There is a new pppd version 2.4.9 which contains lot of fixes. Could you test if this issue is present also in the latest released version 2.4.9?

[2021-01-12 23:48] pali commented on #243
It looks like that ppp 2.4.9 should fix this issue by (now merged) @sthibaul patch:
https://github.com/paulusmack/ppp/pull/145/commits/0678d3bf69116af58b00fbc64bd4185acb4d5c37

[2021-01-13 11:28] alexvelkov1 commented on #243
Hi pali,

thanks for your response!
I have not tested it yet but looking at the attached patch, maybe the problem resides also in the handling of 'ipv6cp-accept-remote'. Could you please check if this the case.

Regards
Alex

[2021-01-13 11:32] pali commented on #243
Look at that @sthibaul's pull request #145. In that pull request was added a new option `ipv6cp-accept-remote` for ppp 2.4.9 and should be correct (by default set to 0).

[2021-01-13 17:16] alexvelkov1 commented on #243
Hi again,

I just tested the PPP issue using v2.4.9 of pppd running on Peer1. You are right, the behavior is as expected!
So, I don't know when this issue first occurred, but the version in Ubuntu 20.04 is definitely affected. I sent an Email to their mailing list.

Thank you very much for your time!

Regards
Alex

[2021-01-13 17:18] pali commented on #243
Ok! So this issue can be closed as problem is fixed in the latest released version.

[2021-01-13 17:20] alexvelkov1 commented on #243
Accepted, closing..

[2021-01-13 17:20] #243 closed

[2021-01-15 00:26] tisj commented on #242
I tested this against openssl-3.0.0-alpha10, and built successfully with only a small modification (although there are deprecation warnings ofcourse, like with openssl-1.1.x):

[code]
I extracted openssl & ppp under /tmp, built openssl first, applied the patch to PPP.

[code]

[2021-01-15 04:05] mjeveritt opened #245 "Preparation for release 2.4.10"
Per https://github.com/paulusmack/ppp/issues/111#issuecomment-757405517 , let's start discussion on any issues arising from release 2.4.9 and patches we'd like to integrate into the Next release (expected 2.4.10).

I shall be PR'ing patches shortly from Gentoo per @Polynomial-C 's request.

[2021-01-16 10:54] Neustradamus commented on #111
@mjeveritt has created a new ticket for the next release instead of this:
- https://github.com/paulusmack/ppp/issues/245

If it is not done yet, please create a PR for your patches, one PR = one patch.

I know that there is "mppe-mppc-1.1" to add, can you create a PR?
It is used in PLD Linux: @qboosh, @Jajcus, @glensc
- https://github.com/pld-linux/ppp/blob/master/ppp-2.4.3-mppe-mppc-1.1.patch
It

[2021-01-27 12:00] zingaro1972 opened #247 "install upgrade pppd does not work"
Hi I treid upgrade of pppd package from 2.4.5 ( centos 7 OS ) from 2.4.7 and 2.4.9 but i have this error :
.  2.4.6 and 2.4.7 ./configure and make : return
...................
DUSE_CRYPT=1 -DHAVE_MULTILINK -DUSE_TDB=1 -DPLUGIN -DPPP_FILTER -DINET6=1 -DMAXOCTETS -Wl,-E -o pppd main.o magic.o fsm.o lcp.o ipcp.o upap.o chap-new.o md5.o ccp.o ecp.o auth.o options.o demand.o utils.o sys-linux.o ipxcp.o

[2021-01-27 19:34] pali commented on #111
@jjkeijser: Any results?

[2021-01-27 19:35] pali commented on #247
see comment https://github.com/paulusmack/ppp/issues/241#issuecomment-757507518 missing testers for verification...

[2021-01-28 05:19] Neustradamus commented on #111
For your information, few days ago, @paulusmack has done a Microwatt presentation at linux.conf.au 2021:
- https://linux.conf.au/schedule/presentation/61/
- https://github.com/paulusmack/microwatt | https://github.com/antonblanchard/microwatt

Good news since 2.4.9, Paul has merged, thanks to all contributors and Paul:
- @tisj: https://github.com/paulusmack/ppp/pull/230
- @rpurdie (OpenEmbedded /

[2021-01-28 08:01] zingaro1972 commented on #247
thanks , problem solved !

[2021-01-28 08:02] #247 closed

[2021-01-28 09:48] pali commented on #241
Anybody for testing proposed change https://github.com/paulusmack/ppp/issues/111#issuecomment-755321787 ?

[2021-01-29 08:45] jjkeijser commented on #111
I remember the old mppe+mppc patch from 2005; I would vote against it in its current form, as it breaks compatibility with the options used by pppd (e.g. they're throwing out 'require-mppe-128' and replacing it with '+mppe' )
Apart from that,  using encryption+compression at the same time is considered a no-no these days - e.g. OpenVPN explicitly now warns you to NOT use compression as it makes it

[2021-01-29 09:21] jjkeijser commented on #111
I ran your test with "ipv6 ::1,::2" and used "ping6 -I ppp0" and that works for me. However, I was expecting to be able to use a public IPv6 address and I certainly hadn't thought of having to specify the interface - for true usability it would be nicer if the IPv6-over-PPP mimicks IPv6-over-tun (like OpenVPN) more. Is that at all feasible?
With any other address than ::1 I get

`pppd: Illegal int

[2021-01-29 09:49] pali commented on #111
Ok, I will create a pull request which adds #ifndef ... #define ... #endif code.

This is not how PPP IPv6 CP protocol works. During PPP IPv6 negotiation only link-local addresses are exchanged. All other stuff (like exchanging public routable IPv6 address) is let to other protocols like DHCPv6 or RA.

This is to the IETF committee who decided that for all other things DHCPv6 needs to be used. The

[2021-01-29 18:00] FIAV1 opened #249 "PPP flag"
Hi there, I have a question about the functioning of this module. I saw from logs that the PPP flag sequence (0x7e) is not always added at the beginning of the PPP packet. Is it possible to enforce this to happen, through an option from the command line or some simple modification to the code? I have a server that discard all packets that dont start with it, so I can barely connect to it... Thanks

[2021-01-29 23:50] enaess commented on #111
JJK,
Could we fix the input options to conform to the same standard used in pppd for years? Aside from this, MPPE which is really RC4 isn't much of a protection (and using that in e.g. SSTP, it's really protected by the TLS tunnel). MPPE and MPPC is really about compatibility. MPPE is typically required as it's the default setting on Windows.

The MPPC was under a patent which should have expired

[2021-01-30 05:57] enaess commented on #111
Let me clarify, MPPC is typically not required less the administrator configured the NPS policies to require it. It usually is optional. The current implementation supports 40 and 128 bit which for most practical purposes works, but should one require e.g. 56 bit you'll be SOL. That patch would improve that.

Again, I would argue from a compatibly point of view. I'd prefer that Microsoft turned it

[2021-01-30 23:03] jjkeijser commented on #111
sounds to me like you are confusing Encryption (MPPE) with Compression (MPPC).   MPPE has been included in ppp since (at least) version 2.4.4 and can be used in combination with chap, ms-chap-v2 and eap-tls.   You can enforce the use of **Encryption** on the server side (or client side) using the right settings , choosing between minimum (40bit) to maximum (128 bit) strength.

However,  I have not

[2021-01-31 15:57] enaess commented on #111
JJK,
I think you are right w.r.t. MPPC. It's a client side option and doesn't seem to be controlled by NPS in any way. And indeed, I vaguely remember the MPPC kernel driver now. At least for the MPPC part, this patch doesn't make much sense. What it does bring is 56-bit encryption compatibilty as current version of pppd only supports 40-bit and 128-bit. I am not sure it is worth it to add the 56-b

[2021-02-01 08:33] jjkeijser commented on #111
As for 56 encryption:  again, that will require a kernel mod change. In the Linux 5.8 sources I checked, the ppp_mppe driver supports **only** 40bit and 128bit encryption.  So, I'd argue that including 56bit encryption is not worth it (despite it would mean only passing a single bit/flag to the kernel-mode ppp driver to do so).

I have no idea how this change ended up in openwrt - this most likely

[2021-02-01 20:36] enaess commented on #111
JJK,
Good points. The fact that 56-bit isn't supported by the kernel probably the final straw for this patch. It doesn't provide anything we can't already do, and if they still want it they will need to patch the kernel too. I'd say it is unlikely that it will be fixed in mainline Linux kernel any time soon. The OpenWRT guys IIRC also provide their own kernel (and maybe patches to enable it there)

[2021-02-06 14:40] kloczek commented on #245
Just a suggestion to make releases a bit more frequently :)
As still flow of the patches is relatively high it would better to allow ebvaluate accepted commits in smaller chunks to allow easier identify some changes. I think that new release after ot more than 50 commits would be kind of optimum for ppp.

[2021-02-13 00:34] enaess opened #250 "EAP-TLS to expose hook to verify peername"
You have to specify "remotename" which may not be initially known to the end-user. For example, the server name you connect to may be azure-gw-xyzxyz.<somedomain>.com, but the name of the server which performs the EAP authentication may be a server internal to the network you are accessing. Omitting the "remotename" will cause PPP client to terminate the connection.

I'd like for ppp when using EA

[2021-02-13 00:34] enaess commented on #250
@jjkeijser - Do yo have an opinion on this?

[2021-02-13 01:03] njh opened #251 "Way of printing option descriptions?"
The `option_t` structure has a [description](https://github.com/paulusmack/ppp/blob/master/pppd/pppd.h#L107) string defined. And most of the `option_t` structure do seem to define a description for each of the options.

For example:
[code]

But I can't see any way of printing this out?
Is it a feature waiting to be implemented?

[2021-02-14 00:39] Neustradamus commented on #250
To follow this ticket.

[2021-02-14 15:27] Neustradamus commented on #251
@paulusmack: What do you think?

[2021-02-14 15:27] Neustradamus commented on #249
@paulusmack: What do you think?

[2021-02-14 19:52] yodelu opened #252 "tty session"
used 2.4.8 + pptpd 1.4.0 which worked fine
now i'm on 2.4.9 + pptpd 1.4.0 which also works fine but when i do restart or shutdown pc (kde based) i got a liitle gui (that need a confirmation) which tells me that i have an active conection that need to be closed in order to continue...
Any ideea what was dropped in 2.4.9 ?

[2021-02-14 22:21] Neustradamus commented on #252
@jjkeijser, @enaess, @Sander80, @lo1ol, @paulusmack: What do you think?

[2021-02-14 22:22] enaess commented on #252
What Linux distribution is he using?

[2021-02-15 03:28] paulusmack commented on #251
Looks like it is.  I added that back in 1998, so I don't remember exactly what I had in mind.

A variant of the dump or dryrun option to print the selected options could be useful. Or a "long help" option to print all the option names and their descriptions.

[2021-02-15 03:43] paulusmack commented on #249
Your server is buggy, then, since rfc1331is quite clear that the flag character is a separator and only one flag is required between two frames.

In fact the decision about whether to put the flag at the beginning of the packet is made in the kernel driver, not pppd, at least on Linux (you don't say what OS you're using). The ppp_async module in Linux has a timeout that defaults to 1 second; if th

[2021-02-15 06:54] #241 closed

[2021-02-15 07:30] yodelu commented on #252
pclinuxos (systemV)
Builded packages (2.4.8 and 2.4.9). The packages use the patches provided by fedora
though that maybe some fedora specific causes that then tried mageia ones > the results are the same
right after i initiate a reboot/shutdown a little window apeear on screen which tells me that i have an active tty session which needs to be closed..
As a remark that active tty session is a real

[2021-02-15 10:04] FIAV1 commented on #249
Yes, I did this way applying this simple patch to Linux Kernel and it all worked like a charm. Maybe I should add a pull request to linux kernel, exposing this feature as an option, so if anyone would need it it will have it.

Thanks guys, I'll close this!

[2021-02-15 10:55] Neustradamus commented on #249
@FIAV1: Please inform us when you will publish a patch to Linux Kernel and post the link here ^^

[2021-02-15 11:51] jjkeijser commented on #250
I'm a bit confused here - this is already possible **without** a hook:
[code]

which will connect to a server only if the server certificate name matches **exactly** what is specified in `remotename`.

Having said that, adding a hook/mechanism similar to what openvpn has is possible (e.g. wildcard matching) but I'd much rather implement something similar to what openvpn does (allow wildcards in `r

[2021-02-15 15:19] Sander80 commented on #252
No idea. And thank you for the information on the ppp 2.4.9 release.
Installed it, and it perferctly works with my VPN connections.
I am afraid, I cannot help, having zero knowledge about fedora.
I wonder how much time we need to get it into an Ubuntu release.

[2021-02-15 17:43] enaess commented on #250
@jjkeijser

Yes, the base-case feature of "exact match" works out of the box for "remotename".

This however, is a problem for the end user when he connects for the first time. The "remotename" can be something widely different from the SSTP server s/he connects to, which isn't known beforehand. Currently, the only way to infer this on the client side is by looking in the logs (not very user frien

[2021-02-15 17:55] yodelu commented on #252
that is weird almost the same patches on 2.4.8 and 2.4.9 and all of them have nothing to do with my issue (tested different builds)
so i think there's something in the code but .. need to dig
![Untitled2](https://user-images.githubusercontent.com/79059690/107979412-2f705c80-6fc7-11eb-857f-e29196297b72.png)

[2021-02-15 20:49] enaess commented on #250
By the way, how are you testing the EAP-TLS feature of PPPD, i.e. what protocol are you using for front-end?

[2021-02-16 09:52] FIAV1 commented on #249
I'm reopening this, since I found out that ppp flag is a module parameter, so I suspect it can be set from the outside. I'm trying to understand how, if you can help me in this process I post here the relevant code line from linux kernel:
https://github.com/torvalds/linux/blob/master/drivers/net/ppp/ppp_async.c#L88

From what I found out untill now, something like `./insmod ppp-async.ko flag_time=

[2021-02-16 11:47] FIAV1 commented on #249
Some updates: I managed to make this work by manually loading the `ppp_async` kernel module passing the `flag_time=0` parameter to it, like this:

[code]

This could be obviously much easier if it can be converted to an `options` option, something like `FLAG_TIME` that can be set to an integer, then pppd takes care of loading it.

Again, I can do that, but I need some help to understand from where

[2021-02-16 13:58] jjkeijser commented on #250
here's the code snippet from OpenVPN 2.4.9 that does the x509 name matching as specified in the NetworkManager plugin:
[code]

that is,  there is no real regexp machine done at all, just partial matching on a name. Adding this to eap-tls.c will be the most straightforward and will make it quite similar to OpenVPN.

As for adding a hook, that is easily doable as well, but there's the *client side*

[2021-02-16 16:11] jjkeijser commented on #252
cannot reproduce it (and am using Fedora 32) so no clue.  Post config files and how you start pppd , that might give a clue.

[2021-02-17 01:08] enaess commented on #250
@jjkeijser

I can live with the proposed feature parity of OpenVPN for this. I still would like to see a hook be exposed for this, and that there is an option to skip this verification if user so desire.

May suggest, two patch sets for this? One that handles the check per above details, and a secondary one that exposes a hook? The idea is here is that the hook will be introduced if I can come up

[2021-02-17 11:09] jjkeijser commented on #250
Ah, so now work from my side is expected ;) ?
Do not expect a patch any time soon, it might be quicker if you write an initial patch and I review it.

[2021-02-17 13:46] yodelu commented on #252
it does matter the config i have. As i said ppp 2.4.8 worked fine with the same config for 2.4.9
so no matter config (unless a possibly hidden bug in 2.4.8 that was fixed in 2.4.9)
Anyway i have fixed my issue by stopping pppd too when stoping pptpd (this way when pptpd got stopped just make sure no active connections are left behind)
  stop)
        gprintf "Shutting down pptpd: "
        killpro

[2021-02-17 17:23] enaess commented on #250
LOL

I need this, so I get to do it? I have no problem with that. More importantly, if there is a consensus of what needs to be done and how, then we avoid the argumentation after the work is done ;-)

[2021-02-17 19:48] yodelu commented on #252
now i see ppp 2.4.9 uses  /dev/pts/0 instead of /dev/pts/1
on /dev/pts/0  i have a kde session...
Feb 17 21:10:49 localhost pptpd[4444]: CTRL: Client 82.79.214.179 control connection started
Feb 17 21:10:49 localhost pptpd[4444]: CTRL: Starting call (launching pppd, opening GRE)
Feb 17 21:10:49 localhost pppd[4445]: Plugin /usr/lib64/pptpd/pptpd-logwtmp.so loaded.
Feb 17 21:10:49 localhost kernel:

[2021-02-18 00:08] njh opened #256 "Configuring pppd to accept link-local IPv6 interface id from remote peer"
I was originally not sure if this was a bug or if I hadn't found the right configuration option and I have previously asked about this in a couple of places:
* https://unix.stackexchange.com/questions/634033
* https://marc.info/?l=linux-ppp&m=161326467108283

I am now thinking that it is either a bug or a missing feature.

I have two pppd (v2.4.7) instances running, talking to each over over a ser

[2021-02-18 00:13] njh commented on #256
Benjamin Cama replied to my linux-ppp email with a patch he created to allow configuring with a zero interface identifier:

https://marc.info/?l=linux-ppp&m=161333836425441&q=p3

However I have been unable to get it to work - it gets stuck in a negotiation loop.
Here is my debug output:
https://gist.github.com/njh/437713988b108880a8fe23ed10168c0c

[2021-02-18 15:26] jjkeijser commented on #250
All I am saying is that if you would like me to write this patch then you will need to be a little patient - this is not a High Priority thing for me.  Perhaps I can whip up something tomorrow afternoon, but esp the git PR part is the part that I hate.

[2021-02-18 15:41] jjkeijser commented on #256
I'd recommend to try this with ppp v2.4.9, as there were some significant changes to IPv6 support in later releases.
For example, this
[code]
works for me , with the following ppp.log :+1:

[code]

[2021-02-18 21:57] pali commented on #256
Yes, it was a bug and it is already fixed.

You have buggy version, upgrade to latest version.

[2021-02-18 22:17] jjkeijser commented on #252
actually, the pts (tty) is opened and assigned by pptpd (or rather, pptpctrl) and *not by pppd itself; you can check this by starting the connection and then checking the contents of the directory /proc/$PID/fd:

[code]

alternatively you can try to get the debug flag to pptpctrl to work but that seems harder than you'd expect.

[2021-02-19 00:40] njh commented on #256
I had also been testing using the git master branch.
But only on the 'client' - because I had assumed that was where it was going wrong 😞

After upgrading to version 2.4.9 on the 'server' (the peer that has the interface identifiers configured) it it is working fine! Even with version 2.4.7 running on the 'client'.

Thanks for all the IPv6 improvements you have done @pali 😀

[2021-02-19 00:40] #256 closed

[2021-02-19 00:48] pali commented on #256
I still have some unfinished changes for IPv6... but all major IPv6 issues should be fixed in last released version.

[2021-02-22 19:05] yodelu commented on #252
finally fixed - in case anyone needs it here is the patch (actually a revert)
--- a/pppd/Makefile.linux	2021-02-22 20:40:29.265727915 +0200
+++ b/pppd/Makefile.linux	2021-02-22 20:41:55.849735922 +0200
@@ -82,10 +82,8 @@
 # Enable EAP SRP-SHA1 authentication (requires libsrp)
 #USE_SRP=y

-# Use libutil; test if logwtmp is declared in <utmp.h> to detect
-ifeq ($(shell echo '\#include <utmp.h>' | $

[2021-02-22 19:13] #252 closed

[2021-02-23 05:41] enaess opened #258 "Need access to EAP-TLS's MSK"
I've spent better part of 3 hours on a call with the Microsoft specifications team debugging the SSTP protocol to resolve an issue related to SSTP and using the MPPE keys derived to produce the correct crypto binding. Apparently, to resolve this I need the entire 32-bytes of the mppe_send_key instead of the concatenating 16-bytes from each send/receive key.

Looking at the eap-tls code, this can b

[2021-02-23 10:18] jjkeijser commented on #258
whoa , I am very confused here...
* the MS SSTP spec says they follow RFC3079 for MPPE key generation
* RFC3079 states that each MPPE key is 16 bytes longs.
* note that MPPE key derivation works the same for MS-CHAP as EAP-TLS and that this code was added in ~ v2.4.4, prior to any EAP-TLS stuff

* furthermore the SSTP spec v20180912 says:
Higher-Layer Authentication Key (HLAK)
[code]

Those first

[2021-02-23 14:07] tpgxyz commented on #111
@Neustradamus OpenMandriva updated to 2.4.9 release. Thanks
https://github.com/OpenMandrivaAssociation/ppp/commit/cb867103e94ee2b157ff0c91b08765499986f7df

[2021-02-23 14:56] enaess commented on #258
@jjkeijser

First bullet: Yes, this is indeed wrong and the specification will be updated (or less likely the software bug being fixed - there is just so much deployed software out there that would stop working). We found the root cause for this issue yesterday when stepping through the code in WinDBG.

For SSTP to generate the appropriate CMAC, it really needs to get it hands on the EAP-TLS MSK (

[2021-02-23 16:27] jjkeijser commented on #258
let me get this straight then
* for SSTP CMAC generation you need the EAP-TLS MSK which can be had from within eap-tls.c using `SSL_export_keying_material`
* the actual MPPE keys which are needed for ppp & ppp_mppe (`require-mppe-128` ) are still 16 bytes long, as conforming to RFC3079. There is no way to change this, as changing this would require a kernel change to ppp_mppe.[ch]

So even if you

[2021-02-23 17:23] enaess commented on #258
@jjkeijser I queued a patch set to show you what I mean. I'd be willing to invest time in properly encapsulate the keys to avoid the static variables, move it into e.g. mppe.c (which doesn't currently exist) and to export these as necessary through a function my plugin can use. It's a *crude* fix to show you what I mean, so please don't be too harsh ;-)

[2021-02-24 19:32] Neustradamus commented on #111
@tpgxyz: Thanks! :)
Some patches can be added in upstream?

[2021-02-25 16:11] jjkeijser commented on #258
I browsed through the patch and am still confused:  you say you need access to the EAP-TLS MSK. Then why not expose that - and only that - explicitly to a plugin of  your writing and leave the MPPE stuff alone? that should be far less invasive , right?

[2021-02-25 16:56] enaess commented on #258
Less invasive is probably true.

However, I am basing my on findings where e.g. the MPPE keys as transferred via Radius is 32-bytes long. Essentially, if your policy says MPPE-128, you'll use the first 16-bytes of this. If you have MPPE-40, you'll use the first 8 bytes of this. Since MPPE-128 is max, the the kernel won't allocate more space than to hold 16-bytes. If you are willing to think of the

[2021-02-25 17:13] jjkeijser commented on #258
I'd go for "less-invasive" right now. It seems Micros~1 dug themselves a nice hole again:
- rfc2548 states that MPPE keys are variable in length,  and says "currently supported: 40bit, 56bit and 128bit"
- rfc3079 clearly states that MPPE keys 16 bytes max and even states this
[code]
- now they seem to have added 32byte keys somewhere/somehow to the Micros~1 - specific RADIUS attributes

So, confor

[2021-02-25 17:36] enaess commented on #258
"Conversely, if the
      asymmetrical master keys are more than 16 octets in length, they
      must be truncated to 16 octets"

So they **can** be **more** than 16 bytes, but it they are then they are truncated before you derive the transient session keys. The kernel does the derivation of transient session keys, and will currently reject session keys that are longer than 16 bytes.

Would it not

[2021-02-25 17:38] enaess commented on #258
The kernel will reject asymmetric master keys longer than 16 bytes. That may very well be a deliberate decision.

[2021-02-26 04:33] paulusmack commented on #250
I really don't want to force anyone into the github way of doing things - I think it is less than ideal myself. I'm happy to take patches posted to linux-ppp@vger.kernel.org for instance.

[2021-02-26 04:42] paulusmack commented on #249
I really don't think it is pppd's job to load the kernel modules, particularly since there are other system components that already do that. If you want to have the flag_time parameter applied automatically then you could create a /etc/modprobe.d/ppp_async.conf file containing the line:

options ppp_async flag_time=0

Having pppd set a module option wouldn't work if the module was already loaded,

[2021-02-26 04:42] #249 closed

[2021-02-26 04:50] enaess commented on #250
I really don't mind to do the work, but was holding off to see if @jjkeijser would. I am making some changes to support this for network-manager-sstp and I have it mostly done.

If I don't see anything, I'll create a PR ...

[2021-02-26 19:14] lano1106 opened #260 "Cannot use VJ compression with pppol2tp plugin"
In the file pppd/plugins/pppol2tp/pppol2tp.c

there is this code:

	/* Setup option defaults. Compression options are disabled! */

	modem = 0;

	lcp_allowoptions[0].neg_accompression = 1;
	lcp_wantoptions[0].neg_accompression = 0;

	lcp_allowoptions[0].neg_pcompression = 1;
	lcp_wantoptions[0].neg_pcompression = 0;

and I have been wondering why no matter what options I was trying to tweak, I cou

[2021-02-27 15:08] lano1106 commented on #260
I have found a part of the answer. In L2TP RFC 2661, section 8.1, it is written the following:

 If VJ compression is used, and neither PPP reliable delivery nor
   sequence numbers are enabled, each lost packet results in a 1 in
   2**16 chance of a TCP segment being forwarded with incorrect contents
   [RFC1144]. Where the combination of the packet loss rate with this
   statistical exposure is

[2021-02-27 15:10] lano1106 commented on #260
I still have to dig more the project code to figure out if VJ compression match pcompression or accompression and if the same reasoning applies to both pppd compressions...

[2021-02-27 23:15] Neustradamus commented on #111
I have seen that 2.4.9 has been added in OpenWrt by @hauke, thanks!
- https://github.com/openwrt/openwrt/tree/master/package/network/services/ppp

@hauke, some patches can be added in upstream?
- https://github.com/openwrt/openwrt/tree/master/package/network/services/ppp/patches

[2021-02-28 17:36] hauke commented on #111
I am not a ppp expert and I am not aware of all scenarios we need. Currently I also do not have the time to investigate to do the upstreaming, this should have happened when these patches were initially added to OpenWrt.
If you or anyone else wants to add any of these patches to upstream, that would be a huge help.

[2021-03-08 01:21] Neustradamus commented on #218
@enaess, @tisj, @jjkeijser, @dankor, @nomis: What do you think?

[2021-03-08 01:24] Neustradamus commented on #166
@micron10: Have you tested with last Linux Kernel?

[2021-03-08 01:24] Neustradamus commented on #83
@Amophis666: The problem is always here?

[2021-03-08 01:27] Neustradamus commented on #119
@REq888, @Litreily: There is now a 2.4.9, can you test it?

[2021-03-08 01:28] micron10 commented on #166
with 5.11.x work fine for now
close ticket if find other problem will update you

[2021-03-08 01:28] #166 closed

[2021-03-08 01:36] Neustradamus commented on #126
@jovemars: Have you seen the reply of @paulusmack (30 Dec 2019)?

[2021-03-08 01:38] Neustradamus commented on #59
@rustylife: Please look your PR, it has not been merged...
Can you look comments...
Thanks in advance.

[2021-03-08 01:41] Neustradamus commented on #166
@micron10: Nice if it works with 5.11.x but it does not work with 5.10.x LTS?

[2021-03-08 01:45] Neustradamus commented on #210
@enaess: This issue has been solved?

[2021-03-08 05:16] micron10 commented on #166
Work on 5.10.x but i switch to 5.11

На пн, 8.03.2021 г. в 3:41 ч. Neustradamus <notifications@github.com>
написа:

[2021-03-08 05:38] enaess commented on #210
@Neustradamus I think there might be one more place in the code that needs an update. Let me check on that tomorrow

We should probably address the issue of priority / order in which the types are selected. That would be a different issue though

[2021-03-08 18:29] enaess commented on #210
@Neustradamus Fix #217 took care of the one place missing from #211. You can go ahead and close this issue. If someone needs to be able to configure an priority then let them create a new issue.

[2021-03-08 18:29] #210 closed

[2021-03-08 19:18] enaess commented on #258
The puritan in me is kind of leaning towards expanding these fields for MPPE to 32-bytes, and when generating / setting the MPPE keys in the code; make sure we carry _all_ the data with us to the destination. If ccp.c decides to truncate and write 16-bytes to the kernel, then it's done as close to the place where the keys are used. Truncating them at the source, you loose information that could be

[2021-03-08 19:48] enaess commented on #258
@paulusmack what's the chances of bumping the version number and turning in a new release in the future?

I've also looked at the PEAP implementation and it's pretty clean. Though, it's a client _only_ implementation (server side is needed) and there are options we could converge on between the EAP-TLS and PEAP-TLS such as username, use of secrets files, etc.

[2021-03-08 19:50] enaess opened #263 "Use of PKCS12 certificates for client authentication using EAP-TLS"
I'd like to be able to specify certificates using PKCS12 formatted files for client authentication.

[2021-03-08 20:30] nomis commented on #218
All this function does is disable 40-bit encryption if 128-bit encryption is selected, and disable 128-bit encryption if 40-bit encryption is selected. The only place this is used is from the RADIUS plugin.

The proposed change makes sense but the function doesn't really use the `policy` argument. It's referenced again in the next `if` statement but only if `ccp_wantoptions[0].mppe` is 0. If `ccp_

[2021-03-09 10:47] tisj commented on #218
The policy is not enforced in this function (but elsewhere?), it is only meant to restrict the allowed encryption types.

The specification says that when encryption is required, any of the encryption types may be used, but at least one must be chosen. In that sense the function is somewhat meaningful.

It seems that the original writer may have wanted to express:

[code]

Which is logic wise the

[2021-03-09 16:49] enaess commented on #218
I'd say, fix the warning message by the compiler and move on. @nomis is likely correct in some parts of this, but the use of mppe seems like it needs some more work, see issue #57.

The RC4 / MPPE encryption is a compatibility problem more than it is a security problem. For SSTP, the tunnel is already encrypted, but Microsoft servers still insist on enabling the MPPE option less one modifies the N

[2021-03-11 10:49] tisj commented on #218
We actually have to avoid any (require) mppe options in regard to SSTP. Not sure how it relates to NAP, but a default windows 10 doesn't want double encryption with mppe. The connection fails if mppe is required

[2021-03-14 19:36] rustylife opened #265 "interposed functions in sha1.h"
ppp code has 3 functions globally defined in sha1.h that interpose openssl library functions
i noticed this while trying to debug HMAC() function failure with EVP_sha1() for #128
openssl function HMAC() calls HMAC_Init_ex(), which then calls SHA1_Init() and SHA1_Update() functions from ppp code instead of  proper function from openssl library
there are multiple ways to go about fixing this, but fi

[2021-03-14 21:26] Neustradamus commented on #265
@paulusmack: What do you think?

cc: @enaess, @jjkeijser, @tisj, @pali?

[2021-03-14 23:20] #218 closed

[2021-03-14 23:23] enaess commented on #265
Makefile.linux defines OPENSSL if USE_SRP is configured (and is not enabled on Linux). USE_EAPTLS also depends openssl but only specifies -lssl ... Seems like some options needs better definitions. If we link with openssl, then there is no need to link with the internal sha1.h/c.

IMO the makefile needs some cleaning up.

[2021-03-14 23:32] enaess opened #266 "Don't replace /etc/resolv.conf (when usepeerdns is enabled) - or at least provide a way to not do this ..."
This may be more a question than an actual issue. But I've been using the option 'userpeerdns' to make pppd in client mode request the ms-dns addresses from the server. However, during ipcp_up, it overwrites the /etc/resolv.conf file. In modern Linux systems (that used by Canonical / Ubuntu), systemd-resolved handles the /etc/resolv.conf for you. I'd like to still ask the peer for the dns settings

[2021-03-14 23:49] paulusmack commented on #266
I don't believe pppd itself writes /etc/resolv.conf; it writes /etc/ppp/resolv.conf. You may have an ip-up script that is copying /etc/ppp/resolv.conf over to /etc/resolv.conf.

[2021-03-14 23:51] paulusmack commented on #260
pcompression or accompression operate at a lower level than VJ compression and are not related to it.

[2021-03-15 00:05] enaess commented on #266
Looks like debian provides a /etc/ppp/ip-up.d/usepeerdns script that does this, but doesn't add nm-sstp-service to the list of things to skip. I'll check with them.

[2021-03-15 00:05] #266 closed

[2021-03-15 00:38] Neustradamus commented on #250
#261 has been merged, thanks @enaess, @paulusmack.

[2021-03-15 00:41] Neustradamus commented on #258
@paulusmack: Have you seen the last @enaess comment?

[2021-03-15 00:42] Neustradamus commented on #263
Linked to #264.

[2021-03-15 01:04] Neustradamus commented on #57
Hello @agentgoblin, @cygnusb, @nicolnx, @Nikolay-Belyaev, @dmitrybalashov, @fixed77: Can you create a PR with the patch?

Please do a signed-off... like @paulusmack has requested.

Thanks in advance.

[2021-03-15 05:49] paulusmack commented on #258
I'm not sure I understand the question. The next release will have a new version number, and because the plugin directory includes the version number, the new version's plugins won't conflict with previous versions. As far as development versions are concerned, we have never guaranteed a stable API between plugins and pppd previously during development. Currently the plugins for a development vers

[2021-03-15 09:41] jjkeijser commented on #265
if you look closer you will see that the Makefile contains
  NEEDCRYPTOLIB = y
and later on that says

ifdef NEEDCRYPTOLIB
  LIBS     += -lcrypto
endif

this was done to avoid linking in '-lcrypto' multiple times. The same could be applied to the 'ifdef USE_SRP' part. However, I did not touch that part of the code and hence I also did not touch the Makefile part.

As for the sha1 functions:  I had

[2021-03-16 08:21] tisj commented on #265
Bear in mind that embedded platforms like to keep dependencies minimal, and openssl is a big library. Operating systems like OpenWRT mostly use ppp for internet connectivity, and therefore don't need fancy stuff like TLS or SRP. Moreover they offer a choice in what SSL library to use for your system, such as mbedtls, ustream-ssl, wolfssl, .. and openssl.

If compatibility with openssl is an issue,

[2021-03-16 08:28] jjkeijser commented on #265
I agree that it should remain possible to build ppp *without* using OpenSSL.  That's why I added the
  EAP_TLS=y
flag to the pppd Makefile - if you disable TLS and SRP then the code should still build without linking in OpenSSL (depending on the platform; you *do* need the `crypt()` function, IIRC).

I'd not rename the internal MD5/SHA stuff for this, I'd simply make sure that the code builds & wo

[2021-03-21 20:35] enaess opened #268 "Fatal Signal 11 when not specifying tls_verify_method."
Looks like my previous change needed a default value for the option and the README.eap-tls file needed an update.

[2021-03-21 20:41] enaess commented on #168
Thanks @jidanni - I've posted a patch to the Ubuntu folks too, but since they are really just adding it on top of Debian; fixing it Debian would propagate the change.

[2021-03-21 20:45] enaess commented on #250
Thanks, but this change also introduced a new bug. See #268. Submitted a patch for that already. Closing this issue.

[2021-03-21 20:45] #250 closed

[2021-03-21 21:54] Neustradamus commented on #168
@bootc: It is a ticket in Debian system, please look it.

[2021-04-06 21:14] ohmyitscasper opened #271 "Should this check ignore EINVAL?"
I'm getting ppp connection errors due to this check in sys-linux when trying to establish a ppp connection:

[code]

The kernel docs say this ioctl will return EINVAL if a connection already exists:
[code]

With the following patch, my connection goes through fine:
[code]

So, should this check ignore EINVAL?

[2021-04-09 02:43] Neustradamus commented on #271
@paulusmack: What do you think?

[2021-04-11 23:11] paulusmack commented on #271
Just ignoring EINVAL isn't the right thing to do; if the channel is already connected to an interface, how do we know that's the interface we want? And how did it get into that state anyway?

Without more details, such as debug logs from pppd, it's not possible to say what the correct fix would be.

[2021-04-11 23:32] #268 closed

[2021-04-15 14:16] OllieGitHub opened #272 "EAP-TLS support broken when openssl built with "no-engine""
Commit https://github.com/ppp-project/ppp/commit/e87fe1bbd37a1486c5223f110e9ce3ef75971f93 assumes that openssl was not built with the "no-engine" flag.

If it was, the ENGINE_* defines are not compiled in due to OPENSSL_NO_ENGINE being defined (see https://github.com/openssl/openssl/blob/master/include/openssl/engine.h), resulting in compiler errors

This should either be fixed in https://github.c

[2021-04-16 21:19] Neustradamus commented on #272
@jjkeijser: It is for you!

[2021-04-19 16:09] jjkeijser commented on #272
Fixed in commit `165ac54`

[2021-04-19 17:20] Neustradamus commented on #272
@jjkeijser: Thanks!
PR: https://github.com/ppp-project/ppp/pull/273

@OllieGitHub: Can you test?

@paulusmack: Can you look to merge it?

[2021-04-20 08:46] OllieGitHub commented on #272
@Neustradamus
I can only confirm that is now builds.

Unfortunately I don't have the time or resources to check the functionality of the feature itself if that's what you were asking

[2021-04-24 05:26] #19 closed

[2021-04-24 20:12] enaess commented on #258
Closing after change has been merged

[2021-04-24 20:12] #258 closed

[2021-04-25 01:00] Neustradamus commented on #258
PR: https://github.com/ppp-project/ppp/pull/267

[2021-04-25 01:09] Neustradamus commented on #272
@OllieGitHub: It has been merged, can you close it?
- https://github.com/ppp-project/ppp/pull/273

Thanks @jjkeijser and @paulusmack.

[2021-04-25 01:22] Neustradamus commented on #268
PR: https://github.com/ppp-project/ppp/pull/269

[2021-04-25 01:23] Neustradamus commented on #19
PR: https://github.com/ppp-project/ppp/pull/270

[2021-04-25 08:12] #272 closed

[2021-04-25 22:32] Matt2843 opened #274 "macos/darwin compile support"
Would it be possible to add macos/darwin configure/make support :)?

[2021-04-25 23:07] paulusmack commented on #274
Certainly, if someone is willing to step up to do the port initially and then commit to ongoing testing and bug fixing.

[2021-05-10 14:39] enaess commented on #274
Last time I looked at re-compiling pppd for Mac/Darwin, the system is missing a bunch of header files and you need entitlements from Apple. IIRC, the version on Mac is pppd 2.4.2 and heavily modified by Apple.

[2021-05-10 14:51] enaess opened #275 "Support RFC7512 format for specifying PKCS11 keys with EAP-TLS"
I am on Ubuntu 20.04, and I tried to use SoftHSM and OpenSC to use PKCS11 tokens with EAP-TLS.

Relevant packages:
* OpenSC (apt-get install opensc)
* SoftHSM (apt-get install softhsm2)
* libp11 from OpenSC (apt-get install libengine-pkcs11-openssl1.1)

As of current, using pppd w/pkcs11 support uses the old notation of pkcs:<slot>:<id>. If your certificate is located in slot 0, and with an id of

[2021-05-10 15:34] enaess opened #276 "Provide a variable/field that lets a plugin poke at the EAP mechanism in use"
It would be very helpful to understand which EAP method was selected for authentication. Right now, there isn't anyone on the client side (except for ea_using_eaptls)

The eap_auth.ea_type field is unused on client side, not set when using eap-tls:
https://github.com/ppp-project/ppp/blob/d706c95906d996534f13632a747af5dc617f306e/pppd/eap.h#L156

Someone please correct me here, but there isn't one a

[2021-05-13 21:35] xosevp commented on #274
Apple's ppp is at: https://opensource.apple.com/tarballs/ppp/

[2021-05-14 03:24] enaess commented on #274
Yes, they do publish the source code with changes made to it, but unless you have xcode and entitlements + extra headers from Apple, it won't compile. Again, I tried this years ago. Not sure if anything has changed since then. Anyone is welcome to give it shot and prove me wrong

[2021-05-15 12:55] LaiZhou opened #277 "How can I redirect pptp-server's tcp traffic to redsocks?"
Let's say I have a pptp client conneced to the pptp server(port:1723).
And the redsocks is listening on 12345, that can proxy tcp traffic to socks5 proxy.
Now ,how can I redirect pptp-server's tcp traffic to redsocks?
[code]

but it doesn't work.

[2021-05-24 15:31] enaess commented on #277
@LaiZhou I am not sure anyone would understand what you are trying to do here. Are you trying to proxy all PPTP traffic via a SOCKS5 proxy? In case, you are off in the weeds because the TCP:1723 is only used as a control protocol to establish a GRE tunnel between the two peers. GRE is a different protocol like TCP and UDP is two other protocols, (GRE != TCP|UDP).

PPTP is inherently insecure. Appl

[2021-05-25 01:49] LaiZhou commented on #277
ok, I'll try l2tp .

[2021-05-25 01:49] #277 closed

[2021-06-16 16:04] #263 closed

[2021-06-16 16:04] enaess commented on #263
Closed as merge of #264 is complete.

[2021-06-17 11:18] EasyNetDev opened #286 "Acct-Session-Id Attribute with wrong ID"
Hi,

Could you please take a look to pppd/plugins/radius/util.c at the char *rc_mksid (void) function? Seems that slprintf is not formating correctly the output:

Example:
[code]

After changing the function to snprintf:
[code]

The Acct-Session-Id is correct:

[code]

I've found few times issues with "sl.." functions, issues that you can't find in standard "sn.." functions.

[2021-06-17 12:22] EasyNetDev opened #287 "ppp as server no IPv6 over RADIUS"
Hi,

Somebody knows why the PPP daemon is not getting and repling to the client the IPv6 address?
If I'm checking my RADIUS attribute file I got this:
[code]

With swanctl and RADIUS EAP I'm getting in my VPN client the IPv6 address or DNS. Just a local link.
This is the output of PPP daemon:

[code]

[2021-06-17 12:51] EasyNetDev commented on #245
I agree. Even the replies / pull requests are very slow. This tool is very useful in any routing deploing if you need to build a VPN / AC router.
I found recently issues in slprintf and strlcpy functions.
I know that are some improved functions of snprinf and strncpy, but I think they are outdated.
slprinf is not processing correctly the formats. Instead replacing the arguments is displaying the f

[2021-06-19 10:18] pali commented on #287
PPP IPV6CP protocol exchange between peers only 64bit interface identifiers used to derive IPv6 link local addresses. All other stuff (routing, global routable addresses, DNS options, ...) are let to other protocols, exactly like on other kind of interfaces.

So either SLAAC via Router Advertisement packets, or DHCPv6, ...

IPv6 is designed to be configured and used on every interface / transport

[2021-06-19 10:20] pali commented on #287
So in your output there is no error. pppd correctly exchanged 64bit interface identifiers and set IPv6 link local addresses. So IPv6 over PPP was initialized correctly.

[2021-06-19 12:31] EasyNetDev commented on #287
Thanks for clarification. Is first time when I'm attempting to configure IPv6 over PPP.

[2021-06-19 12:31] #287 closed

[2021-06-30 20:43] Neustradamus commented on #286
@paulusmack: What do you think?

[2021-07-05 13:42] jkroonza commented on #286
We also just bumped into this.  In this case snprintf will work just fine, slprintf has a few things like %I (IP address) which obviously glibc knows nothing about.

In this case slprintf doesn't support the l operator to X (or rather, when l is encountered, it only deals with d and u.  The more correct fix is probably to fix slprintf, but replacing with snprintf in this case is adequate.

[2021-07-07 13:15] Neustradamus commented on #275
@enaess: This ticket can be closed no?

[2021-07-07 13:28] #275 closed

[2021-07-07 13:36] Neustradamus commented on #265
@ all: Any news on it?

[2021-07-07 13:37] Neustradamus commented on #265
@ all: Any news about it?

[2021-07-07 13:45] Neustradamus commented on #126
@jovemars: Have you seen the reply of @paulusmack (30 Dec 2019)?

[2021-07-07 13:55] Neustradamus commented on #119
@REq888, @Litreily: There is now a 2.4.9, can you test it?

[2021-07-07 13:59] Neustradamus commented on #219
@yarda: This part is not solved?

[2021-07-07 14:00] Neustradamus commented on #242
@fedya, @tisj, @paulusmack: OpenSSL 3.0 Beta 1 is here.
- https://www.openssl.org/

[2021-07-07 14:05] jjkeijser commented on #242
ppp 2.4.9 compiles and links against openssl 3.0beta1 fine, with the exception of pkcs#11 (engine = deprecated) support. There is little that our code can do about this, until someone creates a new pkcs#11 provider for OpenSSL 3.0.
So as far as I am concerned OpenSSL 3.0 "just works" with the exception of HSM/tokens.

[2021-07-07 14:11] Neustradamus commented on #276
@paulusmack: What do you think?

[2021-07-07 14:12] Neustradamus commented on #286
@paulusmack: What do you think?

[2021-07-07 14:34] enaess commented on #265
Still working on it.

[2021-07-07 14:35] enaess commented on #276
While I think this could be useful,  I don't think I need this particular feature of the moment.

[2021-07-07 14:35] #276 closed

[2021-07-07 16:25] yarda commented on #219
It doesn't seem to be solved, the eth0 is still hard-coded:
https://github.com/ppp-project/ppp/blob/master/pppd/plugins/pppoe/pppoe-discovery.c#L730
It's debugging tool, but I think it should behave consistently with the other tools/commands. Auto-detection is nice to have.

[2021-07-09 04:11] jamesarch opened #292 "how to slove this error?"
os: centos 7
pppd version: 2.4.8
This kind of error is often seen in the kernel information. How to deal with these problems? I have tried to change to the 2.4.5 version of the official  repo and the latest 2.4.9 will still have this kind of error
`segfault at 0 ip 000055c705e51b60 sp 00007ffea40d4540 error 4 in pppd[55c705e22000+58000]`

[2021-07-09 12:42] scardracs commented on #245
Hi there, I'm from Gentoo musl. Please take a look on https://github.com/ppp-project/ppp/pull/293 too, more info inside pr

[2021-07-10 00:25] paulusmack commented on #286
This one could indeed be snprintf. I'll fix it.

[2021-07-10 00:33] paulusmack commented on #286
I just pushed the fix.

[2021-07-10 00:33] #286 closed

[2021-07-10 20:11] Giulio-xyz opened #294 "chat issues with -E (environment variable substitution)"
Sometimes, using "-E" won't substitute variables.

To solve the issue, could you consider this:

[code]

For details, see  https://bugzilla.redhat.com/show_bug.cgi?id=1650539

Thanks

[2021-07-10 20:16] Giulio-xyz opened #295 "Log successful CHAP authentication"
Years ago pppd used to log successful authentication, then it lost it.
Could you re-add it?

[code]

Thanks.

[2021-07-10 22:11] Neustradamus commented on #294
@paulusmack: What do you think?

[2021-07-10 22:13] Neustradamus commented on #286
Here: https://github.com/ppp-project/ppp/commit/301230f8fde94b5b80e9dfba51816ede340e6b64

[2021-07-10 22:20] Neustradamus commented on #295
@tisj, @enaess, @jjkeijser: For you ;)

@Giulio-xyz: Here: https://github.com/ppp-project/ppp/blob/f1a34da3b2f5336e4993a729e5ac2130d0e0595a/pppd/chap-new.c#L548

[2021-07-10 23:28] Giulio-xyz commented on #295
I use pppd with pptpd.

In my case, it doesn't hit that spot.

When failing, it hits
  https://github.com/ppp-project/ppp/blob/f1a34da3b2f5336e4993a729e5ac2130d0e0595a/pppd/chap-new.c#L391
logging the failure and the peer name.
When succeeding it doesn't log anything.

In  the past (15+ years ago) it used to log the peer name even when successful, see for instance ppp-2.3.11/pppd/chap.c:

[code]

[2021-07-11 03:09] enaess commented on #295
Wouldn't it be better to log authentication success in a more common place independent of which authentication method was used? Should be in auth.c and not in chap-new.c.

Also, typically common criteria specifications require this sort of notifications ...

[2021-07-12 00:25] Neustradamus commented on #292
@paulusmack, @yarda: What do you think?

[2021-07-12 00:27] Neustradamus commented on #219
@paulusmack: What do you think?

[2021-07-12 08:43] jkroonza commented on #286
Confirmed working thank you.

[2021-07-12 13:40] yarda commented on #292
No idea, it doesn't seem to be RHEL version, because in RHEL-7 the latest version is ppp-2.4.5-34 (and I suppose it's the same in the CentOS). AFAIK there are no similar reports for the RHEL-7. I can't speak for the CentOS, because I am not CentOS maintainer.

Backtrace could help.

[2021-07-15 17:29] Neustradamus commented on #111
@rxrbln: Have you patches to add in upstream?

[2021-07-16 17:20] Neustradamus commented on #111
@ all: What do you think about the PR from @scardracs: Update pppd.h (net/ppp_defs.h does not exist): https://github.com/ppp-project/ppp/pull/293?

[2021-07-17 01:20] paulusmack commented on #295
This changed when chap.c got replaced by chap-new.c. There is a message printed in auth_withpeer_success() (auth.c):

    notice("%s authentication succeeded", prot);

So it should log "CHAP authentication succeeded" at level LOG_NOTICE. If you're not seeing that at all then check your logging configuration. If the complaint is that the remote hostname isn't included in the message, that would be

[2021-07-17 09:33] Giulio-xyz commented on #295
Let's say there are 2 peers A and B.

It seems to me auth.c/auth_withpeer_success() is logged, in A logs, when A authenticates successfully to B.

In this ticket I'm talking about what is logged, in B logs, when A authenticates to B:
- when A fails, in B logs I see
https://github.com/ppp-project/ppp/blob/919b28b82f08d7552e2f0febb715ddce6f7208d4/pppd/chap-new.c#L391
- when A succeeds, i B logs I se

[2021-07-17 14:20] scardracs commented on #111
Hi, I've updated the PR with some more infos and fix

[2021-07-19 08:05] paulusmack commented on #294
Fixed in commit 9c7ba0d42dee.

[2021-07-19 08:05] #294 closed

[2021-07-19 08:09] paulusmack commented on #295
OK fair enough. I think the logging should be added in auth_peer_success() rather than chap_handle_response() though.

[2021-07-19 08:12] paulusmack commented on #292
If you want to debug it, and you know how to trigger it, you could run gdb and attach to the pppd process, trigger the bug, and then use gdb commands (e.g. "bt") to find out where in the program it got the segfault and hopefully also why.

With just the information given here it's impossible to say what's happening or why.

[2021-07-21 14:36] mweinelt opened #300 "Setting ipv6 remote peer address fails with 2.4.9"
After upgrading from 2.4.8 to 2.4.9 ipv6 configuration fails like this:

[code]

Before 2.4.9 the interface looked like this:

[code]

I'm running on NixOS with kernel

[code]

My config looks like this:

[code]

I don't think this is related to our hardening of the service, but here it is:

[code]

[2021-07-21 14:37] mweinelt commented on #300
Oh, on second thought it might just need AF_NETLINK now. :facepalm:

[2021-07-21 14:43] #300 closed

[2021-07-23 00:40] Neustradamus commented on #111
Dear all,

Can you look this "big" PR, job done by @enaess:
- https://github.com/ppp-project/ppp/pull/296

What do you think?

Others:
- https://github.com/ppp-project/ppp/pulls

[2021-07-24 03:41] Neustradamus commented on #111
@paulusmack has merged https://github.com/ppp-project/ppp/pull/296 :)

Thanks @enaess and @paulusmack!

[2021-07-24 03:44] Neustradamus commented on #111
@paulusmack has merged https://github.com/ppp-project/ppp/pull/296 :)

Thanks @enaess (and all other contributors: @RICCIARDI-Adrien, @carlsonj, @SoapGentoo etc.) and @paulusmack!

[2021-07-24 03:47] enaess commented on #111
Wooohaaaaaa 🎉🎉

[2021-07-24 04:09] scardracs commented on #111
Wow, awesome!

[2021-07-24 08:44] pali commented on #300
Hello @mweinelt! Look at pull request https://github.com/ppp-project/ppp/pull/301 which fallbacks IPv6 to old ioctl mode when netlink is not available.

[2021-07-24 08:48] mweinelt commented on #300
Not needed, there was just some systemd hardening in the way of things, as netlink sockets were not allowed yet.

[2021-07-25 16:17] pali commented on #300
Yes, I understood. But this _disallowing_ usage of `AF_NETLINK` can basically _simulate_ behavior of older kernel without support for setting peer IPv6 address via `AF_NETLINK`.

[2021-07-25 16:39] mweinelt commented on #300
IMHO people should stop relying on kernel versions that aren't supported by the upstream anymore. That leaves 4.4 as the oldest series. But I'm not maintaining this software either.

[2021-07-27 03:50] Neustradamus commented on #300
The @pali PR has been merged:
- https://github.com/ppp-project/ppp/pull/301

[2021-07-27 04:03] Neustradamus commented on #111
Dear all,

If you have patches, please create PRs...

Note: @enaess has worked on "Rebase and Update the PEAP authentication change from @rustylife":
- https://github.com/ppp-project/ppp/pull/302
Linked to @jjkeijser previous improvements too.

What do you think?

[2021-07-31 20:45] pali commented on #219
I planned to look at this issue after reviewing and merging pull request which refactor pppoe-discovery: https://github.com/ppp-project/ppp/pull/209

[2021-08-03 20:44] enaess commented on #59
#307 Would fix this

[2021-08-03 20:45] enaess commented on #265
@Neustradamus @rustylife could we close this issue now?

[2021-08-03 20:45] enaess commented on #265
@paulusmack

[2021-08-04 02:57] Neustradamus commented on #242
@enaess: What do you think about OpenSSL 3.0.0 currently in beta 2?
Please look the @jjkeijser comment.

[2021-08-04 03:07] enaess commented on #242
@Neustradamus I believe @jjkeijser assessment is correct. You can now specify --with-openssl=/path/to/OpenSSL/3.0.0/install/location --disable-openssl-engine to compile against 3.0.0.

I did compile against 3.0.0 once. Not sure what API they would have for engine / tokens ...

[2021-08-04 14:25] #265 closed

[2021-08-06 23:19] enaess commented on #242
@Neustradamus I did try to compile with it again, and it does issue a bunch of deprecated warnings when compiling against it. Nothing too major, but it looks like to fix this; we need to switch over to
* Use Provider API instead of Engine API
* Use the EVP_* for all MD4, MD5, SHA1, and DES encryption mechanisms.

Also, noted that DES is no longer provided by glibc or libcrypt and thus the option t

[2021-08-11 15:31] alarig opened #310 "LCP: timeout sending Config-Requests (and tty/pty not assignated)"
Hello,

On a LNS, I have this options file:
[code]

And since an upgrade from 2.4.8 to 2.4.9, I can’t connect a client to the LNS (using pppol2tp.so)

Here are the logs:
[code]

Not having a pty number on the `Connect:` line, after the interface name, seems a bit odd to me. But I can’t find out why.

pppd is lunched by xl2tp, but seems the logs of xl2tp look the same than before, I don’t think tha

[2021-08-12 00:26] jjkeijser commented on #242
hmm I just checked out enaess branch of the ppp code and am quite surprised:
- I wasn't aware of the switch to autoconf, although it's the one I'd have chosen **if** I decided to modify the build system
- apart from the autoconf stuff, this branch also includes the "replace the internal md4/md5/sha1 calls with the openssl calls" . I find the added value of that change very small - and now with Ope

[2021-08-12 02:22] enaess commented on #242
@jjkeijser good to hear from you again!

I am arriving at the very same conclusion as you.

-  Renaming the symbols to e.g. ppp_MD5 will help this migration, and also because the autotools stuff will detect whether or not md5 is present.
- Unfortunately, some distro maintainers (e.g. debian) insist on nuking the internal algorithms in favor of using OpenSSL. We'll need to find a way where both can

[2021-08-12 02:46] jjkeijser commented on #242
another option is to rip the DES routines from an older glibc - it should be as short as the md5 stuff, if not shorter and it will remove an external dependency.

[2021-08-12 05:36] Neustradamus commented on #310
@paulusmack, @enaess: What do you think?

[2021-08-12 08:02] bootc commented on #242
I would argue that’s the whole **point** of FIPS mode. If you use that to disable insecure ancient crypto algorithms then you should have no expectation that protocols that use them should continue to work. pppd should not try to work around this. It should, however, handle this more gracefully than segfaulting.

There were various reasons for doing this in Debian and I can’t even remember them no

[2021-08-12 14:22] jjkeijser commented on #242
I agree that the whole point of FIPS mode is to ensure that insecure ancient crypto algorithms are not used under certain circumstances. Keep in mind that even in FIPS mode you *can* use things like OpenSSL's MD5_* but you have to justify it (and use it appropriately).

But we're talking about (in my view) oldschool and insecure authentication methods to begin with, such as PAP, CHAP, MS-CHAP and

[2021-08-12 15:11] enaess commented on #242
The built in MD4 algorithm is busted and should probably be replaced. The MD4Update() needs to force the data stream in chunks when feeding the algorithm. I didn't realize this and the old code for NTPassword got busted. That's an argument for refreshing the old code, or use OpenSSL instead. I also added a unit-test code in there to validate proper operation of the MSCHAPv1/2 stuff.

What I would

[2021-08-12 18:23] jjkeijser commented on #242
not sure about MD4, but MD5 you can still use in FIPS mode, read up at e.g.
 https://networkradius.com/articles/2020/10/28/freeradius-fips.html

Basically, one needs to do a call similar to
[code]
and then you can use non-FIPS hash functions for PRF functions only. I am no idea how this would work for  CHAP or MS-CHAP authentication (or the horror - plain MD5) but there is a little leeway, it seem

[2021-08-12 19:39] enaess commented on #242
I did know Microsoft has for a while discouraged FIPS, but if you are selling software to US government then it is a problem.

However, I think we can burry the idea of FIPS compliance. Don't believe it is in the interest to the pppd project.

The way I coded up the Autotools change was to use OpenSSL if it provided the crypto algorithm, but to allow fallback to a private implementation if one was

[2021-08-12 19:50] tisj commented on #242
- On embedded systems openssl is often not used or avoided (in favor of other smaller SSL/TLS implementations): e.g. overkill to have openssl in just to connect to your ISP, still some compat is probably required - at least PAP, CHAP as a minimum.
- If you chose for an external lib, chances are you will have some ifdefs unavoidably over time depending how good backwards compatibility is maintained

[2021-08-12 21:12] enaess commented on #242
@tisj MSCHAPv2 still very much depends on the NTPasswordHash which is entirely done by using MD4

[2021-08-12 21:27] tisj commented on #242
@enaess I'm very much aware, that's why I only mentioned DES and not MD4 :)

[2021-08-12 21:34] enaess commented on #242
Ahh ...  Sorry, I misspoke. I meant ChallengeResponse() is used by both versions of MSCHAP and applies DES to generate the NT Response.

[2021-08-13 23:06] jjkeijser commented on #242
I was suggesting that the following:
We should not (cannot) drop all private implementations of the crypto stuff, and being able to build `pppd` with no dependencies on OpenSSL will make embedded people happy. So, if we do both the OpenSSL crypto **and** the private stuff then we'd be maintaining two code paths which is more work and also dangerous.   So the "easy" solution is to scrap using OpenS

[2021-08-14 02:30] jamesarch commented on #292
ok thanks

[2021-08-14 02:30] #292 closed

[2021-08-14 21:55] enaess commented on #242
@jjkeijser

1) Yes, I agree. We cannot drop the private implementation of the crypto stuff
2) We should put a drop-in implementation for DES as you cannot compile pppd without OpenSSL (note, that this was still required before my autotools change)
3) The autotools change ensures that the crypto algorithms missing from OpenSSL will use internal implementations for said algorithm
4) If you want the

[2021-08-20 08:43] c-po opened #311 "Add VRF binding support"
Hi Paul,

I am one of the mainters of VyOS an open source, Linux (Debian) based network operating system. We utilize pppd to provide dial-up (pppoe) connections for the users. We have added VRF support in our upcoming 1.3 release by using ip-up/ip-down scripts to move an interface into the appropriate VRF - that somehow works but could be nicer.

# Why?

The flakyness now comes into play when rout

[2021-08-20 21:01] Neustradamus commented on #311
@paulusmack, @enaess: What do you think?

[2021-08-21 02:49] paulusmack commented on #311
Sounds reasonable. Do you have a patch?

[2021-08-21 07:16] c-po commented on #311
I do not have a patch but I would provide one. As I am not familiar with the codebase maybe you can point me to the file which needs to be extended.

* I would implement this only for Linux
* I would name the config option for the peer file `vrf` which defaults to `master` which is the Linux default.

[2021-08-21 10:01] c-po opened #312 "Add pppd persistent option"
When pppd on-demand-dialing is enabled, pppd will create the e.g. `pppoe0` interface in advance with will be dialed once traffic passes.

It would be nice to add a switch named `persistent` to pppd configuration so that the interface is always created in advance even if no traffic flows through it. Having this option will enable a user to

* Have Firewalling code assigned to the interface before i

[2021-08-23 15:21] Neustradamus commented on #312
@paulusmack, @enaess: What do you think?

[2021-08-24 09:48] c-po commented on #312
Hi @enaess,

this is the way how I am operating pppd right now (calling an ip-up helper script). It might be just a simply "my problem - not a common one" but my usecase is the following:

As beeing a maintainer of [VyOS](https://github.com/vyos) I wrote a simple Python library which abstracts all types of network interfaces with a common API for managing IP addresses, DHCP, ARP, prefix delegation

[2021-08-24 15:09] enaess commented on #312
I do remember having added on-demand option on the WatchGuard firewalls with PPPoE around 2006/07. You do describe a common problem for firewall vendors out there, and I am sure it would be nice to make it behave better. The -I pppoe+ was one that I recall using. I would have to look into it to tell if this would be even possible with how pppd is currently coded up, chances for regression, and a b

[2021-09-02 22:55] paulusmack commented on #312
From pppd's perspective, it always creates the interface immediately (well, within a relatively short time) when pppd is started.

It sounds like you want to have a way to start pppd and have the interface created, but then have pppd hang around doing nothing until something triggers it to bring up the link. What is that something? How does pppd know when to bring up the link?

Or do you mean that

[2021-09-08 16:25] openwrtdiy opened #315 "Two different remote terminal IPs will appear during the pppoe dialing process!"
When I use a custom remote IP in the file /etc/ppp/chap-secrets, PPPoe dial-up Internet access is a custom remote IP. But in the system log of the OpenWrt router backend, it is found that pppoe and pppd are not assigned the same IP address.
After using the following query command, it is shown that the online terminal IP is allocated by pppoe, which does not match the actual custom IP.

top -bn1 |

[2021-09-08 16:28] openwrtdiy commented on #315
**OpenWrt router background system log**

Thu Sep  9 00:02:41 2021 daemon.info pppd[7416]: Plugin pppoe.so loaded.
Thu Sep  9 00:02:41 2021 daemon.info pppd[7416]: PPPoE plugin from pppd 2.4.9
Thu Sep  9 00:02:41 2021 daemon.err insmod: module is already loaded - slhc
Thu Sep  9 00:02:41 2021 daemon.err insmod: module is already loaded - ppp_generic
Thu Sep  9 00:02:41 2021 daemon.err insmod: modu

[2021-09-09 12:22] c-po commented on #312
Hi @paulusmack,

sorry for the late reply.

Correct - that something could be a packet leaving that interface (like on-demand dialing which is already there)

This is what I wish I would be able to - regardless of the name of the options name - `persistent` might be a bad one indeed.

--
CP

[2021-09-09 23:18] pali commented on #312
You can already setup iptables for interface which does not exist or which is going to exist in future

This is also already possible, without any need for pppd modification. iptables's mss clamping can be setup also for interface which does not exist yet.

What it is?

So how it would differs from demand option?

Exactly there is no way for such thing in kernel. ppp kernel interface needs to be h

[2021-09-10 07:19] c-po commented on #312
`ip link set dev ppp0 alias "Upstream Carrier 123"`

It is used e.g. on SNMP systems to get a more detailed description what that interface does. But as I read it everything can be achieved in one way or the other so this boils down to a "only me problem". Not an issue - just wanted to express my ideas/wished on pppd.

[2021-09-11 02:08] Neustradamus commented on #242
Note: OpenSSL 3.0.0 has been released
- https://www.openssl.org/

[2021-09-11 13:47] Neustradamus commented on #310
@paulusmack, @enaess: What do you think?

[2021-09-12 11:34] pali commented on #312
Ok, so I think that you should be able to achieve that setup with existing pppd options (e.g. `demand`) and external scripts.

[2021-09-13 06:39] #312 closed

[2021-09-16 14:06] pali commented on #315
OpenWrt is using its own custom patched and hacked pppd version. Ideally please report issue to OpenWRT project and developers, e.g. @neheb @hauke or @dhewg who are responsible for OpenWRT patches.

[2021-09-16 23:18] Neustradamus commented on #315
Files are here:
- https://github.com/openwrt/openwrt/tree/master/package/network/services/ppp

[2021-09-17 13:00] #315 closed

[2021-09-17 13:59] Neustradamus commented on #315
@openwrtdiy: Please inform all people here about the evolution of this bug.

Badly it is not possible to create issues in openwrt (core) github: https://github.com/openwrt/openwrt
It is only possible for packages here: https://github.com/openwrt/packages
There is a Flyspray here: https://bugs.openwrt.org/ I hope that OpenWrt team will move one day...
There is a forum too: https://forum.openwrt.org

[2021-10-13 00:41] Litreily commented on #119
sorry, I have no env to test.

[2021-10-14 08:06] anolivetree opened #318 "chat.c deadlocks"
chat.c deadlocks when following happens.
1. calls syslog()
2. syslog() takes mutex (syslog_lock)
3. While that mutex is held, signal handler is called
4. signal handlers in chat.c calls syslog()
5. syslog() takes mutex (syslog_lock)
6. deadlock

It seems pppd/main.c circumvent the same problem by not calling syslog().
https://github.com/ppp-project/ppp/commit/7bb5e2cdca9445e1c9ebf3a29efc80ef9d3cbe

[2021-10-16 03:04] paulusmack commented on #310
What do the logs look like when it works (e.g. with ppp-2.4.8)?

[2021-10-16 04:09] enaess commented on #111
@paulusmack

Do you have any thoughts on what work is left before pppd sees a new release? I wanted to finish some of the header file refactoring, do you have a list of items?

Also, should this become 2.5 or 2.4.10? The build system got an overhaul which may break existing build recipes. Also, the header file refactoring am planning on may break dependent / third party software...

[2021-10-16 04:45] enaess commented on #59
We should be able to close this. @paulusmack ?

[2021-10-21 19:12] enaess commented on #318
Calling any function that is not listed as async-signal-safe, i.e. see "man 7 signal-safety" on a Linux system should not be used from a signal handler. I've encountered number of permutations where weird things happens to the program and it's stuck waiting for a mutex down in libc. Could be syslog like this instance here, could be fwrite(), tzset() (via e.g. syslog), etc. Trying to do much beyond

[2021-11-04 05:44] anolivetree commented on #318
@enaess it seems that it doesn't deadlock with -S option. I've tried connecting periorically with and without -S option.
With -S, chat didn't deadlock in one hour trial.
Without -S, chat deadlocked two times in 30 minutes trial.

[2021-11-04 07:12] anolivetree commented on #318
Following is a workaround which blocks signals in msgf() and fatal(). I know it's not optimal but it circumvent the deadlock.

[code]

[2021-11-04 16:48] enaess commented on #318
Your patch would prevent syslog from being called again even from a signal handler given that msgf and fatal are the two functions that actually calls syslog.

- In the unlikely event that SIGALRM or SIGINT is triggered when chat is inside a call to fprintf() in libc from signal handler is still going to deadlock, right?
- terminate() still uses functions that are not async-signal-safe
- if someon

[2021-11-05 00:34] anolivetree commented on #318
- In the unlikely event that SIGALRM or SIGINT is triggered when chat is inside a call to fprintf() in libc from signal handler is still going to deadlock, right?

If don't know if fpritnf takes the same futex lock as syslog(), but if it does it should deadlock.

- if someone commits a change to call syslog a different location of the code in the future, he/she lacks the context in which he also m

[2021-11-20 05:06] paulusmack opened #322 "Restore DCO check"
Somewhere in the process of setting things up to build and test the software, we lost the DCO check (the check that each commit has a Signed-off-by: line). We need to get that back.

[2021-11-20 06:34] Neustradamus commented on #322
@RICCIARDI-Adrien, @enaess: If you can look it ^^

[2021-11-20 14:57] RICCIARDI-Adrien commented on #322
Hi @paulusmack, DCO check might have been lost during the repository organization migration. You can install this GitHub app https://github.com/apps/dco to enable DCO checking.

[2021-11-22 03:18] Neustradamus commented on #322
I think that the page has been changed:
- https://github.com/probot/dco/blob/master/docs/required-statuses.md

[2021-11-27 19:28] electrofloat opened #323 "lcp-echo-adaptive does not set the lcp_echos_pending back to 0"
Even after I set the lcp-echo-adaptive option for pppd, I sometimes still have a disconnect when the line is saturated.
I'm still investigating the issue, but looking at the code I just noticed, that in `LcpSendEchoRequest` if the `lcp_echo_adaptive` is true and there were some traffic in since last time, the function returns without setting the `lcp_echos_pending` back to 0.

This has the side ef

[2021-11-28 09:11] electrofloat opened #324 "pppstats IN counter sometimes displays 0"
While I'm still investigating my issue of even if the `lcp-echo-adaptive` is set, sometimes `pppd `terminates the connection with "Peer not responding" when the line is saturated, I noticed that `pppstats` sometimes displays 0 in the IN column.

Digging into the code I noticed a few things:
1. the `pppstat` struct stores everything in __u32, and although it seems these are the in-kernel values too

[2021-12-11 07:18] Neustradamus commented on #111
I have seen that 2.4.9 has been added in Buildroot by @arnout, thanks!
- https://bugs.busybox.net/show_bug.cgi?id=13436

Other Buildroot contributors:
- @ffontaine, @jacmet, @cpackham, @rc-matthew-l-weber, @tpetazzoni, @yann-morin-1998

[2021-12-11 07:29] Neustradamus commented on #111
@zeddii, @rpurdie: This patch can be talked here?
- https://github.com/openembedded/openembedded-core/commit/2d61b061f52cc8dbed82e2d9547e8b52d3ec9e34

[2021-12-11 11:34] rpurdie commented on #111
https://github.com/ppp-project/ppp/pull/326 - Linux 5.15 dropped IPX support so there is a patch there to remove it.

[2021-12-12 11:18] RICCIARDI-Adrien opened #329 "Improving Buildroot CI build speed."
Hi all,

I've an idea about improving greatly the Buildroot CI build speed. The idea is to use precompiled Buildroot images to rebuild only the PPP package.

I would like to store this precompiled Buildroot images in a separate repository of PPP GitHub organization (for instance `ppp-ci`), in the repository Releases section. Indeed, GitHub says officially that there is no size limits for releases

[2021-12-13 05:39] paulusmack commented on #329
This all sounds fine to me. What is the next step to implement this?

[2021-12-13 11:08] RICCIARDI-Adrien commented on #329
Great !
I would need access to the `ppp-ci` repo, I need to be able to create a release on this repo (but the permissions required for that can be revoked later when it's working). As there will be a lot of data to upload to GitHub, I would prefer to do that on the final repo instead of a temporary one to avoid uploading everything twice.

[2021-12-13 18:33] Neustradamus commented on #329
@paulusmack: Here, tag page: https://github.com/ppp-project/ppp/tags and click on "...", you can see to create a release.

[2021-12-13 20:48] RICCIARDI-Adrien commented on #329
I don't need to access to the currently existing `ppp` repo, I need to access to the `ppp-ci` repo that does not exist yet (someone has to create it for me too).
I need to create releases in the `ppp-ci` repo to be able to upload Buildroot builds here.

[2021-12-18 01:50] Neustradamus commented on #242
What is the status of all talks on this ticket?

I think that it will be nice to have a best compatibility before a 2.4.10?

What do you think?